[Unit]
Description         = fs-alloc -- %S/local/%J/%I
StopWhenUnneeded    = yes
CollectMode         = inactive
RequiresMountsFor   = %S/local/%J
ConditionPathExists = !%S/local/%J/%I

[Service]
Type                = oneshot
RemainAfterExit     = yes

Environment         = LIB=%S/local/%J
Environment         = ROOT=%S/local/%J/%I
Environment         = NAME=%I

ExecStart           = /usr/local/libexec/fs-alloc.sh ${LIB} ${ROOT} ${NAME}
