[Unit]
Description         = fs-alloc -- %S/local/%J/%I
StopWhenUnneeded    = yes
CollectMode         = inactive
RequiresMountsFor   = %S/local/%J
ConditionPathExists = !%S/local/%J/%I

PartOf              = machine.slice

[Service]
Slice               = machine.slice
Type                = oneshot
RemainAfterExit     = yes

Environment         = ROOT=%S/local/%J/%I

ExecStart           = /usr/local/libexec/fs-alloc.sh ${ROOT}
