[Unit]
Description       = systemd.prepawn -- %I
StopWhenUnneeded  = yes
CollectMode       = inactive

Requires          = 2-fs-alloc-nspawn@%i.service
After             = 2-fs-alloc-nspawn@%i.service

PartOf            = 2-nspawnd@%i.service

[Service]
Type              = oneshot
RemainAfterExit   = yes
ProtectSystem     = strict
ProtectHome       = tmpfs
PrivateTmp        = yes
ReadWritePaths    = %T %S/local
BindReadOnlyPaths = -%h/.ssh:%h/.ssh

ExecStart         = /usr/local/opt/nspawn/libexec/systemd-prepawn@.sh %S/local/nspawn/%I
