[Unit]
Description    = Certbot renew -- %i

[Service]
Type           = oneshot
Restart        = on-failure
ProtectSystem  = strict
PrivateTmp     = yes
ReadWritePaths = %T %C

Environment    = DOMAIN=%I
Environment    = CONF=%C/certbot/conf
Environment    = LOGS=%C/certbot/logs

ExecStartPre   = mkdir --parents -- %C/certbot %C/certbot/nginx
ExecStart      = /usr/local/venv/bin/certbot certonly \
                   --work-dir %T \
                   --config-dir ${CONF} \
                   --logs-dir ${LOGS} \
                   --non-interactive --agree-tos \
                   --email certbot+%H@${DOMAIN} \
                   --expand \
                   --domains ${DOMAIN} \
                   --dns-cloudflare \
                   --dns-cloudflare-credentials /usr/local/lib/env.d/certbot.${DOMAIN}.env
ExecStart      = envsubst2.sh /usr/local/lib/certbot/nginx.conf %C/certbot/nginx/${DOMAIN}.conf
