location / {
  error_page       401 = @signin;
  auth_request     /-_-auth-_-/auth;
  auth_request_set $auth_cookie $upstream_http_set_cookie;
  add_header       Set-Cookie $auth_cookie;
}

location /-_-auth-_- {
  auth_request_set        $auth_cookie $upstream_http_set_cookie;
  add_header              Set-Cookie $auth_cookie;
  proxy_set_header        Host $host;
  proxy_set_header        X-Original-URL $scheme://$http_host$request_uri;
  proxy_set_header        Content-Length "";
  proxy_pass_request_body off;
  proxy_pass              http://auth-proxy:6969/;
}

location @signin {
  internal   ;
  add_header Set-Cookie $auth_cookie;
  sub_filter "${METHOD}" $request_method;
  sub_filter "${ACTION}" "/-_-auth-_-/try";
  sub_filter "${X_ORIGINAL_URL}" "$scheme://$http_host$request_uri";
  alias      /usr/local/opt/nginx/www;
}
