auth_request /-_-auth-_-;

location /-_-auth-_- {
  auth_request            off;
  proxy_set_header        Content-Length "";
  proxy_set_header        Host $host;
  proxy_set_header        X-Real-IP $remote_addr;
  proxy_pass_request_body off;
  proxy_pass              http://unix:/run/local/nginx/auth-proxy.sock:/;

  location /-_-auth-_-/-_- {
    proxy_intercept_errors on;
    proxy_pass             http://unix:/run/local/nginx/auth-proxy.sock:/-_-;
  }
}

location @e401 {
  internal     ;
  auth_request off;
  sub_filter   "@METHOD" $request_method;
  sub_filter   "@REDIRECT" $x_request_uri;
  sub_filter   "@USER" $upstream_http_x_auth_user;
  root         /usr/local/opt/nginx/auth/;
  try_files    /index.html =404;
}

location @e420 {
  internal ;
  return   420;
}