error_page       401 = @signin;
auth_request     /-_-auth-_-;
auth_request_set $auth_cookie $upstream_http_set_cookie;
add_header       Set-Cookie $auth_cookie;

location /-_-auth-_- {
  auth_request            off;
  include                 /etc/nginx/proxy_params;
  proxy_set_header        Content-Length "";
  proxy_pass_request_body off;
  proxy_intercept_errors  on;
  proxy_pass              http://unix:/run/local/nginx/auth-proxy.sock:/;
}

location @signin {
  internal     ;
  auth_request off;
  sub_filter   "@METHOD" $request_method;
  sub_filter   "@REDIRECT" $scheme://$http_host$request_uri;
  root         /usr/local/opt/nginx/auth/;
  try_files    /index.html =404;
}
