listen     0.0.0.0:443 ssl quic reuseport;
listen     [::]:443 ssl quic reuseport;
add_header Alt-Svc 'h3=":443"' always;
quic_retry on;
quic_bpf   on;
quic_gso   on;
include    /usr/local/opt/nginx/conf/auth.nginx;
