listen     0.0.0.0:m5_or([ENV_HTTPS_PORT], 443) quic;
listen     0.0.0.0:m5_or([ENV_HTTPS_PORT], 443) ssl;
listen     [[::]]:m5_or([ENV_HTTPS_PORT], 443) quic;
listen     [[::]]:m5_or([ENV_HTTPS_PORT], 443) ssl;
add_header Alt-Svc 'h3=":443"' always;
include    /usr/local/opt/nginx/conf/auth.nginx;
