# m5_for([PS], [
# m4_pushdef([PATH], [m4_regexp(PS, [\(^[^:]+\)], [\1])])
# m4_pushdef([SOCK], [m4_regexp(PS, [\([^:]+\)$], [\1])])
location /PATH {
  return 307 /PATH/;
}

location /PATH/ {
  proxy_pass http://unix:SOCK:/;
}
# ], ENV_SOCKS)
