[[NetDev]]
Name                = vn-wg
Kind                = wireguard

[[WireGuard]]
ListenPort          = 51820
PrivateKeyFile      = %S/local/wireguard/self.key

[[WireGuardPeer]]
PersistentKeepalive = 6
PublicKey           = ${CLIENT_PUBLIC_KEY}
AllowedIPs          = ${IPV4}
AllowedIPs          = ${IPV6}
