location /journald {
  alias /usr/local/opt/nginx/journald/;
}

location /entries {
  proxy_read_timeout 3600;
  proxy_pass         http://unix:/run/local/systemd-journal-gatewayd.sock:;
}

location /machine {
  proxy_pass http://unix:/run/local/systemd-journal-gatewayd.sock:;
}

location /fields {
  proxy_pass http://unix:/run/local/systemd-journal-gatewayd.sock:;
}
