pid              /dev/null;
daemon           off;
error_log        stderr;
user             www-data;
worker_processes auto;
include          /etc/nginx/modules-enabled/*.conf;

events {
}

stream {
  # proxy_half_close       on;
  proxy_socket_keepalive on;

  server {
    listen     127.0.0.53:53;
    proxy_pass unix:/run/local/nginx/dns-tcp.sock;
  }

  server {
    listen     127.0.0.53:53 udp;
    proxy_pass unix:/run/local/nginx/dns-udp.sock;
  }
}