[Unit]
Description      = PG Bouncer

[Service]
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %t %T %V
RuntimeDirectory = postgresql

User             = postgresql
Group            = postgresql

ExecStart        = pgbouncer -- /usr/local/opt/postgresql/pgbouncer.ini
ExecReload       = kill -s HUP -- ${MAINPID}
