[Unit]
Description      = PG Bouncer

Requires         = 1-self-signed@%j.service
After            = 1-self-signed@%j.service

After            = network-online.target

[Service]
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %t %T %V
RuntimeDirectory = postgresql
CacheDirectory   = local/self-signed/%J

User             = postgres
Group            = postgres

KillSignal       = SIGINT
TimeoutStopSec   = 1minute

ExecStartPre     = !chown -v -R -- ${USER}:${USER} %C/local/self-signed/%J
ExecStart        = pgbouncer -- /usr/local/opt/postgresql/pgbouncer.ini
ExecReload       = kill -s HUP -- ${MAINPID}
