[Unit]
Description      = PG Bouncer

After            = network-online.target

[Service]
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %t %T %V
RuntimeDirectory = postgresql

User             = postgres
Group            = postgres

KillSignal       = SIGINT
TimeoutStopSec   = 1minute

ExecStart        = pgbouncer -- /usr/local/opt/postgresql/pgbouncer.ini
ExecReload       = kill -s HUP -- ${MAINPID}
