[Unit]
Description     = CGI -- /usr/local/opt/cgi/bin/%J
CollectMode     = inactive-or-failed
BindsTo         = 6-cgi-%j.socket

[Service]
Type            = oneshot

ProtectSystem   = strict
PrivateTmp      = yes
ReadWritePaths  = %t %T %V
TimeoutStartSec = 1m

EnvironmentFile = -/usr/local/etc/default/%J.cgi.env
ExecStart       = /usr/local/opt/cgi/bin/%J
