[Unit]
Description  = CGI -- %t/local/cgi/%J.sock

[Socket]
RemoveOnStop = yes
Accept       = yes
ListenStream = %t/local/cgi/%J.sock

[Install]
WantedBy     = sockets.target
