frontend ft_tcp
    mode tcp
    bind *:80
    option tcplog
    default_backend bk_http

    acl SSH payload(0,3) -m str -- SSH
    use_backend bk_ssh if SSH

backend bk_http
    mode tcp
    server http localhost:8080 check

backend bk_ssh
    mode tcp
    server ssh localhost:22 check
