[Match]
Name                    = ${IFACE}

[Link]
RequiredForOnline       = no

[Network]
ConfigureWithoutCarrier = yes

LinkLocalAddressing     = yes
LLDP                    = yes
EmitLLDP                = customer-bridge

Address                 = ${IPV4_IF}
Address                 = ${IPV6_IF}

Domains                 = ~${DOMAIN}
DNS                     = ${IPV6_ADDR} ${IPV4_ADDR}

DHCP                    = no
IPv6AcceptRA            = no

DHCPServer              = ${NETWORKD_DHCP}
IPv6SendRA              = ${NETWORKD_DHCP}

[DHCPServer]
DefaultLeaseTimeSec     = 90s
MaxLeaseTimeSec         = 120s
SendOption              = 15:string:${DOMAIN}

[IPv6SendRA]
Managed                 = yes
OtherInformation        = yes

[IPv6Prefix]
Prefix                  = ${IPV6_NET}
