---
x-k8s:
  - apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      labels:
        io.kompose.service: &blue redlib-blue
      name: *blue
      namespace: ${COMPOSE_PROJECT_NAME}
    spec:
      rules:
        - host: forum.m5_assert([ENV_DOMAIN])
          http:
            paths:
              - backend:
                  service:
                    name: bluelib
                    port:
                      number: 9090
                path: /
                pathType: Prefix

  # - apiVersion: v1
  #   kind: Secret
  #   metadata:
  #     name: &name htpasswd
  #     namespace: ${COMPOSE_PROJECT_NAME}
  #   type: kubernetes.io/basic-auth
  #   stringData:
  #     username: "a"
  #     password: ""
  #
  # - apiVersion: traefik.io/v1alpha1
  #   kind: Middleware
  #   metadata:
  #     name: auth
  #     namespace: ${COMPOSE_PROJECT_NAME}
  #   spec:
  #     basicAuth:
  #       secret: *name

services:
  redlib:
    image: quay.io/redlib/redlib:latest
    labels:
      kompose.service.group: &warp redlib
      kompose.service.expose: bbs.${DOMAIN}
    environment: &env
      REDLIB_AUTOPLAY_VIDEOS: on
      REDLIB_DEFAULT_AUTOPLAY_VIDEOS: on
      REDLIB_DEFAULT_BLUR_NSFW: on
      REDLIB_DEFAULT_COMMENT_SORT: top
      REDLIB_DEFAULT_DISABLE_VISIT_REDDIT_CONFIRMATION: on
      REDLIB_DEFAULT_HIDE_HLS_NOTIFICATION: on
      REDLIB_DEFAULT_USE_HLS: on
      REDLIB_ENABLE_RSS: on
      REDLIB_FULL_URL: https://bbs.${DOMAIN}
      REDLIB_REMOVE_DEFAULT_FEEDS: on
      REDLIB_ROBOTS_DISABLE_INDEXING: on
    ports:
      - 8080
    volumes:
      - ./redlib.toml:/redlib.toml:ro

  bluelib:
    image: quay.io/redlib/redlib:latest
    labels:
      kompose.service.group: *warp
    healthcheck:
      test:
        - CMD
        - /bin/true
    environment:
      <<: *env
      PORT: "9090"
      REDLIB_FULL_URL: https://forum.${DOMAIN}
    ports:
      - 9090
    volumes:
      - ./blank.toml:/redlib.toml:ro

  warp:
    image: docker.io/caomingjun/warp:latest
    labels:
      kompose.service.group: *warp
    cap_add:
      - NET_ADMIN
    volumes:
      - data:/var/lib/cloudflare-warp

volumes:
  data:
