*.plan
*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
.venv/
facts/*.env
facts/-.env.gpg
facts/example.env.gpg
inventory.json
node_modules/
package-lock.json
var/
!.m4.env
!examples/*
!layers/**/var/
!machines/**/var/
