*.gpg
*.isorted
*.plan
*.tfstate.backup
.git/
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
.venv/
facts/*.env
facts/*.env.*
facts/-.json
inventory.json
node_modules/
package-lock.json
tsconfig.tsbuildinfo
var/
!!*
!**/default/*.env
!**/examples/*
!*.m4.env
!layers/**/var/
!machines/**/var/
!qemu.env
