*.gpg
*.isorted
*.plan
*.tfstate.backup
.facts/*.env
.facts/*.env.*
.facts/-.json
.git/
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
.venv/
inventory.json
node_modules/
package-lock.json
tsconfig.tsbuildinfo
var/

!!*
!**/default/*.env
!**/examples/*
!*.m4.env
!layers/**/var/
!machines/**/var/
!qemu.env
