[Unit]
Description     = Github Mirror Service -- %I

[Service]
Type            = oneshot
ProtectSystem   = strict
ProtectHome     = tmpfs
PrivateTmp      = yes
ReadWritePaths  = %T

User            = 1000
Group           = 1000

StateDirectory  = local/gh-mirror/%I
EnvironmentFile = -/usr/local/etc/default/%I.gh-mirror.env
ExecStart       = /usr/local/opt/gh-mirror/libexec/mirror.sh %S/local/gh-mirror %I
