[Unit]
Description    = Spotifyd update

[Service]
Type           = oneshot
Restart        = on-failure
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
ReadWritePaths = %T %C/local

CacheDirectory = local/%J
Environment    = CACHE=%C/local/%J

ExecStart      = /usr/local/opt/spotifyd/libexec/ensure.sh ${CACHE}
