body {
  padding: 0;
  margin: 0;

  & header,
  & main {
    min-width: 100%;
    max-width: 100%;
  }

  & header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
  }

  & main {
    overflow: scroll;
  }

  & li {
    list-style-type: cjk-decimal;
    margin-left: 6rem;

    & time,
    & label > b {
      margin-inline-end: 1rem;
    }

    & time {
      font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    }
  }
}
