body {
  padding-left: 5rem;

  & li {
    list-style-type: cjk-decimal;

    & time,
    & label > b {
      margin-inline-end: 1rem;
    }

    & time {
      font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    }
  }
}
