body {
  padding-left: 5rem;
}
li {
  list-style-type: cjk-decimal;
}
time {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;

  margin-inline-end: 1rem;
}
