[Unit]
Description      = Media Browser

[Service]
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
NoNewPrivileges  = yes

ReadOnlyPaths    = /media
ReadWritePaths   = %t/local/media
RuntimeDirectory = local/media

User             = 1000
Group            = www-data
UMask            = 0007

Environment      = ENV_MEDIA_ROOT=/media
EnvironmentFile  = -/usr/local/etc/default/media.env

ExecStart        = /usr/local/opt/media/main.sh --root ${ENV_MEDIA_ROOT} --socket %t/local/media/media.sock
