# server {
#   server_name public.*;
#   include     /usr/local/opt/nginx/conf/listen.nginx;
#
#   location / {
#     proxy_pass           http://unix:/run/local/webdav/ro.sock:/webdav/ro/;
#     auth_basic           "-";
#     auth_basic_user_file /var/lib/local/public/htpasswd;
#     include              /usr/local/opt/nginx/conf/server.d/bt.nginx;
#   }
# }
