[Unit]
Description     = iSCSI share

[Service]
Type            = oneshot
RemainAfterExit = yes
Restart         = on-failure
ProtectSystem   = full

ReadWritePaths  = %E/rtslib-fb-target

ExecStart       = /usr/local/opt/iscsi/libexec/share.sh
ExecStopPost    = /usr/local/opt/iscsi/libexec/clear.sh

[Install]
WantedBy        = default.target
