[Unit]
Description     = Samba user share
BindsTo         = smbd.service
After           = smbd.service

[Service]
Type            = oneshot
RemainAfterExit = yes
Restart         = on-failure
ProtectSystem   = full
PrivateTmp      = yes

ReadWritePaths  = %t/local/samba %T
ExecStart       = /usr/local/opt/samba/libexec/share.sh
