[Unit]
Description              = Samba service templating

[Service]
Type                     = oneshot
Restart                  = on-failure

ProtectSystem            = strict
PrivateTmp               = yes
ReadWritePaths           = %t/local/samba %T
RuntimeDirectoryPreserve = yes
RuntimeDirectory         = local/samba

ExecStart                = /usr/local/opt/samba/libexec/conf.sh %t/local/samba/includes.conf
