[Unit]
Description        = ZFS scrub timer -- %i

[Timer]
Persistent         = yes
OnCalendar         = %j
RandomizedDelaySec = 3 days

[Install]
WantedBy           = timers.target
