[Unit]
Description   = ZFS trim -- %i
Requires      = zfs.target
After         = zfs.target

[Service]
Type          = oneshot
Restart       = on-failure
ProtectSystem = strict
ProtectHome   = yes

ExecStart     = zpool trim --wait -- %i
ExecStop      = -zpool trim --suspend -- %i
