---
services:
  ollama:
    image: docker.io/ollama/ollama:latest
    labels:
      jq.mixin: |-
        {"runtimeClassName": "nvidia"}
      kompose.controller.type: statefulset
      kompose.service.expose: ollama.${DOMAIN}
      kompose.volume.type: hostPath
    environment:
      OLLAMA_FLASH_ATTENTION: 1
      OLLAMA_KEEP_ALIVE: 1m
    ports:
      - 11434
    volumes:
      - /var/lib/local/ollama:/root/.ollama
