server {
  listen  unix:/run/local/nginx/gateway-https.sock default_server;
  include /usr/local/opt/nginx/conf/auth.nginx;

  location / {
    include         /usr/local/opt/nginx/conf/auth2.nginx;
    alias           /usr/local/opt/nginx/index/;
    sub_filter_once off;
    sub_filter      "@SCHEME" $scheme;
    sub_filter      "@HOST" $optimistic_host;
  }
}