server {
  listen unix:/run/local/nginx/gateway-http.sock;
  listen 127.0.0.53:8000 reuseport;

  location / {
    return 307 https://$host$request_uri;
  }

  location /204 {
    return 204;
  }

  location /.well-known/acme-challenge/ {
    root /run/local/nginx/acme;
  }
}