limit_req_zone $binary_remote_addr zone=ht:99m rate=6r/m;

map $upstream_http_x_og_location $x_request_uri {
  ""      $scheme://$http_host$request_uri;
  default $upstream_http_x_og_location;
}

server {
  listen               unix:/run/local/nginx/htpasswd.sock;
  set_real_ip_from     unix:;
  limit_req_status     429;
  limit_req            zone=ht;
  # m4_define([HTACCESS], [
  auth_basic           "-";
  auth_basic_user_file /var/lib/local/nginx/htpasswd;

  location / {
    try_files /dev/null =204;
  }

  # ])
  HTACCESS
}

server {
  listen   unix:/run/local/nginx/htaccess.sock;
  HTACCESS
}
