map $http_authorization $modified_auth {
  "~^Bearer (.*)$" "Basic $1";
  default          $http_authorization;
}

map $upstream_http_x_original_url $x_request_uri {
  ""      $scheme://$host$request_uri;
  default $upstream_http_x_original_url;
}

server {
  listen               unix:/run/local/nginx/htaccess.sock;
  auth_basic           "-";
  auth_basic_user_file /var/lib/local/htpasswd/htpasswd;

  location / {
    try_files /dev/null =204;
  }
}

server {
  listen unix:/run/local/nginx/direct_auth.sock;

  location / {
    proxy_pass http://unix:/run/local/nginx/auth/proxy.sock:/;
  }
}