map $upstream_http_x_og_location $x_request_uri {
  ""      $scheme://$http_host$request_uri;
  default $upstream_http_x_og_location;
}

server {
  listen               unix:/run/local/nginx/htaccess.sock;
  auth_basic           "-";
  auth_basic_user_file /var/lib/local/nginx/htpasswd;

  location / {
    try_files /dev/null =204;
  }
}
