limit_req_zone $remote_addr zone=ht:99m rate=6r/m;

server {
  listen               unix:/run/local/nginx/htpasswd.sock;
  auth_basic           "-";
  auth_basic_user_file /var/lib/local/nginx/htpasswd;
  set_real_ip_from     unix:;
  limit_req_status     403;
  limit_req            zone=ht;

  location / {
    try_files /dev/null @nein;
  }

  location @nein {
    internal ;
    return   204;
  }
}
