server {
  listen     [[::]]:m5_or([ENV_HTTPS_PORT], 443) default_server ipv6only=off
    quic reuseport;
  listen     [[::]]:m5_or([ENV_HTTPS_PORT], 443) default_server ipv6only=off
    ssl reuseport;
  add_header Alt-Svc 'h3=":$server_port"';

  location / {
    proxy_pass http://unix:/run/local/nginx/gateway-https.sock:/;
  }
}