# m5_for([MACH], [
server {
  server_name MACH.*;
  include     /usr/local/opt/nginx/conf/listen.nginx;
  set         $x_machine MACH.home.arpa:8080;

  location / {
    include           /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass_header Content-Security-Policy;
    proxy_pass        http://$x_machine;
  }
}

# ], m5_or([ENV_MACHINES], []))
include /dev/null;
