# m5_for([MACH], [
server {
  server_name MACH.*;
  set         $x_machine MACH.home.arpa:8080;
  listen      unix:/run/local/nginx/gateway-https.sock;

  location / {
    proxy_pass_header Content-Security-Policy;
    proxy_pass        http://$x_machine;
  }
}

# ], m5_assert([ENV_MACHINES]))
include /dev/null;
