server {
  listen [::]:80 ipv6only=off;

  location / {
    return 307 https://$host$request_uri;
  }

  location /204 {
    return 204;
  }

  location /.well-known/acme-challenge/ {
    root /run/local/nginx/acme;
  }
}