server {
  listen     [[::]]:m5_or([ENV_HTTPS_PORT], 443) default_server ipv6only=off
    quic reuseport;
  listen     [[::]]:m5_or([ENV_HTTPS_PORT], 443) default_server ipv6only=off
    ssl reuseport;
  add_header Alt-Svc 'h3=":$server_port"';
  include    /usr/local/opt/nginx/conf/auth.nginx;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass http://unix:/run/local/nginx/gateway-https.sock:/;
  }
}