# m4_include([layers/v2fly/usr/local/opt/v2fly/vars.m4.yml])
map $ssl_server_name $tcp_upstream {
  hostnames        ;
  # m4_pushdef([PORT], PORT_BEGIN)
  # m5_for([PROTOCOL], [
  # m5_for([TRANSPORT], [
  # m4_pushdef([TRANS], [m4_regexp(TRANSPORT, [\(^[^@]+\)], [\1])])
  # m4_pushdef([XPORT], [m4_regexp(TRANSPORT, [\([^@]+$\)], [\1])])
  # m4_ifelse(XPORT, [tcp], [
  PROTOCOL-TRANS.* 127.0.0.53:PORT;
  # ])
  # m4_pushdef([PORT], m4_incr(PORT))
  # ], TRANSPORTS)
  # ], PROTOCOLS)
  default          tcp_upstream_fallback;
}

map $remote_addr $udp_upstream {
  # m4_pushdef([PORT], PORT_BEGIN)
  # m5_for([PROTOCOL], [
  # m5_for([TRANSPORT], [
  # m4_pushdef([TRANS], [m4_regexp(TRANSPORT, [\(^[^@]+\)], [\1])])
  # m4_pushdef([XPORT], [m4_regexp(TRANSPORT, [\([^@]+$\)], [\1])])
  # m4_ifelse(XPORT, [udp], [
  # m4_pushdef([B2], m4_esyscmd(b2sum --length 64 <<<'PROTOCOL-TRANS'))
  # m4_pushdef([SUFFIX], m4_substr(B2, 0, 4):m4_substr(B2, 4, 4):m4_substr(B2, 8, 4):m4_substr(B2, 12, 4))
  ~SUFFIX$ 127.0.0.53:PORT; # PROTOCOL-TRANS
  # ])
  # m4_pushdef([PORT], m4_incr(PORT))
  # ], TRANSPORTS)
  # ], PROTOCOLS)
  default  udp_upstream_fallback;
}
