location /webdav/ro {
  return 307 /webdav/ro/;
}

location /webdav/rw {
  return 307 /webdav/rw/;
}

location /webdav/ro/ {
  proxy_pass http://unix:/run/local/webdav/ro.sock;
}

location /webdav/rw/ {
  proxy_pass http://unix:/run/local/webdav/rw.sock;
}