# m4_define([M5_NGINX], [
location /$1 {
  return 307 /$1/;
}

location /$1/ {
  error_log       stderr crit;
  proxy_buffering off;
  proxy_pass      http://unix:$2:/;
}
# ])
# m5_for([X], [M5_NGINX(X)], ENV_NGINX)
