---
services:
  teddit:
    image: docker.io/teddit/teddit:latest
    labels:
      kompose.service.expose: teddit.${DOMAIN}
    environment:
      DOMAIN:
      HTTP_PROXY: socks5://proxy.kompsed-hostproxy.svc.cluster.local:1080
      REDIS_HOST: redis
      TRUST_PROXY: true
      USE_HELMET: true
      USE_HELMET_HSTS: true
    ports:
      - 8080

  redis:
    image: ghcr.io/valkey-io/valkey:latest
    ports:
      - 6379
    volumes:
      - data:/data

volumes:
  data:
