server {
  listen     [::]:3306 ipv6only=off;
  proxy_pass 127.0.0.53:33306;
}

server {
  listen     [::]:5432 ipv6only=off;
  proxy_pass 127.0.0.53:55432;
}

server {
  listen     [::]:6380 ipv6only=off;
  proxy_pass 127.0.0.53:63800;
}

server {
  listen     [::]:9200 ipv6only=off;
  proxy_pass 127.0.0.53:9280;
}

server {
  listen     [::]:27017 ipv6only=off;
  proxy_pass 127.0.0.53:2717;
}