# m5_for([PORTSPEC], [
# m4_pushdef([PROXY], [m4_regexp(PORTSPEC, [\(^[^:]+\)], [\1])])
# m4_pushdef([LISTEN], [m4_regexp(PORTSPEC, [\([^:]+$\)], [\1])])
server {
  listen     [[::]]:LISTEN ipv6only=off;
  proxy_pass 127.0.0.53:PROXY;
}

# ], 63379:6379)
include /dev/null;
