upstream tcp_upstream_fallback {
  server unix:/run/local/nginx/http.sock;
}

upstream udp_upstream_fallback {
  server unix:/dev/null;
}

include /usr/local/opt/nginx/conf/v2fly.nginx;

server {
  listen     127.0.0.53:8000;
  proxy_pass unix:/run/local/nginx/acme.sock;
}

server {
  listen     [::]:443 ipv6only=off ssl;
  # ssl_alpn   "h2,http/1.1";
  proxy_pass $tcp_upstream;
}

server {
  listen     [::]:443 ipv6only=off udp;
  proxy_pass $udp_upstream;
}