server {
  listen     [[::]]:80 ipv6only=off reuseport;
  proxy_pass unix:/run/local/nginx/gateway-http.sock;
}

# m5_for([PORTPAIR], [
# m4_pushdef([LHS], [m4_regexp(PORTPAIR, [\(^[^:]+\)], [\1])])
# m4_pushdef([RHS], [m4_regexp(PORTPAIR, [\([^:]+\)$], [\1])])
server {
  resolver   127.0.0.53:53 ipv4=off;
  set        $x_self droplet.w-0.droplet.home.arpa;
  listen     [[::]]:LHS ipv6only=off reuseport;
  proxy_pass $x_self:RHS;
}
# ], 6379:30001, 6697:30003)
