server {
  listen     127.0.0.1:1194 reuseport;
  listen     [::1]:1194 reuseport;
  proxy_pass unix:/run/local/nginx/gateway-http.sock;
}

server {
  listen     6379 reuseport;
  listen     [::]:6379 reuseport;
  proxy_pass localhost:30845;
}