upstream tcp_upstream_fallback {
  server 127.0.0.53:10443;
}

include /usr/local/opt/nginx/conf/v2fly.nginx;

server {
  listen     [::]:80 ipv6only=off;
  proxy_pass 127.0.0.53:10080;
}

server {
  listen      [::]:443 ipv6only=off;
  ssl_preread on;
  proxy_pass  $tcp_upstream;
}
