---
services:
  searxng:
    image: ghcr.io/searxng/searxng:latest
    labels:
      kompose.controller.type: statefulset
      kompose.service.expose: true
    entrypoint:
      - sh
      - -euxc
      - |-
        cp -v -- /srv/* /etc/searxng/
        exec /usr/local/searxng/entrypoint.sh
    ports:
      - 8080
    volumes:
      - ./favicons.toml:/srv/favicons.toml
      - ./limiter.toml:/srv/limiter.toml
      - ./settings.yml:/srv/settings.yml
      - cache:/var/cache/searxng

  redis:
    image: ghcr.io/valkey-io/valkey:latest
    healthcheck:
      test:
        - CMD
        - redis-cli
        - incr
        - ping
    ports:
      - 6379
    volumes:
      - data:/data

  mcp:
    image: docker.io/isokoliuk/mcp-searxng:latest
    labels:
      kompose.service.expose: mcp-searx.${DOMAIN}
    environment:
      SEARXNG_URL: http://searxng:8080
      MCP_HTTP_PORT: 8080
    ports:
      - 8080

volumes:
  cache:
  data:
