---
extensions:
  &cursor file_storage/journald:
    directory: /var/lib/otelcol-contrib
  &auth basicauth:
    client_auth:
      username: otlp
      password: m5_assert([ENV_OTLP_PASSWORD])
receivers:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/awscloudwatchreceiver/README.md

  # m5_for([AWS_REGION], [
  awscloudwatch/AWS_REGION:
    storage: *cursor
    region: AWS_REGION
    logs:
      poll_interval: 16s
  # ], m5_assert([ENV_AWS_REGIONS]))

processors:
  &batch batch:
  &meta transform:
    flatten_data: true
    log_statements:
      - >-
        [set(resource.attributes["k8s.cluster.name"], Concat([resource.attributes["aws.region"], "aws"], "."))]
      - >-
        [set(resource.attributes["k8s.namespace.name"], resource.attributes["cloudwatch.log.group.name"])]
      - >-
        [set(resource.attributes["service.name"], resource.attributes["cloudwatch.log.group.name"])]
      - >-
        [set(resource.attributes["service.instance.id"], resource.attributes["cloudwatch.log.stream"])]
exporters:
  &output otlphttp:
    endpoint: m5_assert([ENV_OTLP_ENDPOINT])
    auth:
      authenticator: *auth
service:
  extensions:
    - *auth
    - *cursor
  telemetry:
    logs:
      level: warn
  pipelines:
    logs:
      receivers:
        # m5_for([AWS_REGION], [
        - awscloudwatch/AWS_REGION
        # ], m5_assert([ENV_AWS_REGIONS]))
      processors:
        - *meta
        - *batch
      exporters:
        - *output
