[Match]
Name                    = vtor
Driver                  = dummy

[Link]
RequiredForOnline       = no

[Network]
ConfigureWithoutCarrier = yes
LinkLocalAddressing     = yes

Address                 = ${IPV4_IF}
Address                 = 0:0:0:0:0:0:0:0/64

Domains                 = ~onion ~exit
DNS                     = ${IPV4_ADDR}
