[Match]
Name              = vtor
Driver            = dummy

[Link]
RequiredForOnline = no

[Network]
Address           = ${IPV4_IF}

DNSSEC            = no
DHCP              = no
IPv6AcceptRA      = no

Domains           = ~onion ~exit
DNS               = ${IPV4_ADDR}
