pid              /run/nginx.pid;
error_log        stderr;
worker_processes auto;
include          /etc/nginx/modules-enabled/*.conf;

events {
}

http {
  access_log                off;
  client_body_temp_path     /var/tmp/client_body;
  fastcgi_temp_path         /var/tmp/fastcgi;
  proxy_temp_path           /var/tmp/proxy;
  scgi_temp_path            /var/tmp/scgi;
  uwsgi_temp_path           /var/tmp/uwsgi;
  root                      /run/local/nginx/www;
  absolute_redirect         off;
  charset                   "UTF-8";
  client_max_body_size      0;
  log_not_found             off;
  resolver                  127.0.0.53;
  sendfile                  on;
  ssl_prefer_server_ciphers on;
  tcp_nopush                on;
  include                   /etc/nginx/mime.types;
  include                   /usr/local/opt/nginx/conf/websocket.nginx;
  include                   /usr/local/opt/nginx/conf/ssl.nginx;

  map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
  }

  server {
    # TODO http2
    # https://trac.nginx.org/nginx/ticket/816, nginx 1.25.1
    listen  [::]:8080 ipv6only=off;
    include /usr/local/opt/nginx/conf/server.d/*.nginx;
    include /run/local/nginx/conf/server.d/*.nginx;
  }

  include                   /usr/local/opt/nginx/conf/http.d/*.nginx;
  include                   /run/local/nginx/conf/http.d/*.nginx;
}

stream {
  resolver               127.0.0.53;
  # proxy_half_close       on;
  proxy_socket_keepalive on;
  include                /usr/local/opt/nginx/conf/ssl.nginx;
  include                /usr/local/opt/nginx/conf/stream.d/*.nginx;
  include                /run/local/nginx/conf/stream.d/*.nginx;
}

mail {
  proxy_pass_error_message on;
  include                  /usr/local/opt/nginx/conf/mail.d/*.nginx;
}

include          /run/local/nginx/conf/conf.d/*.nginx;
