pid                     /run/nginx.pid;
user                    www-data;
error_log               stderr;
worker_processes        auto;
worker_rlimit_nofile    65535;
worker_shutdown_timeout 28d;
# TODO: ubuntu 26.04
# quic_bpf                on;
include                 /etc/nginx/modules-enabled/*.conf;

events {
}

http {
  include /usr/local/opt/nginx/conf/http.nginx;
  include /usr/local/opt/nginx/conf/http.d/*.nginx;
  include /run/local/nginx/conf/http.d/*.nginx;
}

stream {
  resolver               127.0.0.53;
  proxy_half_close       on;
  proxy_socket_keepalive on;
  proxy_timeout          28d;
  include                /usr/local/opt/nginx/conf/ssl.nginx;
  include                /usr/local/opt/nginx/conf/stream.d/*.nginx;
  include                /run/local/nginx/conf/stream.d/*.nginx;
}

mail {
  proxy_pass_error_message on;
  include                  /usr/local/opt/nginx/conf/ssl.nginx;
  include                  /usr/local/opt/nginx/conf/mail.d/*.nginx;
}

include                 /run/local/nginx/conf/conf.d/*.nginx;
