ssl_protocols       TLSv1.3;
include             /run/local/nginx/conf/ssl/*.nginx;
ssl_certificate     /var/cache/local/self-signed/nginx/ssl.crt;
ssl_certificate_key /var/cache/local/self-signed/nginx/ssl.key;
