[Unit]
Description      = OCI Registry Proxy Service -- %I

[Service]
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %T

User             = www-data
RuntimeDirectory = local/oci-registry/proxy-%I
CacheDirectory   = local/oci-registry/%I

Environment      = PROXY_REMOTEURL=https://%I
Environment      = RT_ID=%I
Environment      = CONF=%t/local/oci-registry/proxy-%I/conf.yml

ExecStartPre     = /usr/local/libexec/envsubst2.sh /usr/local/opt/oci-registry/conf.yml ${CONF}
ExecStart        = registry serve ${CONF}
ExecStopPost     = rm -v -rf -- ${CONF}
