gzip               off;
proxy_read_timeout 28d;

map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

map $http_upgrade $proxy_upstream {
  default     web;
  'websocket' api;
}

upstream api {
  server perplexica-api:3001;
}

upstream web {
  server perplexica-web:3000;
}

server {
  listen           80;
  proxy_set_header Accept-Encoding "";
  proxy_set_header Connection $connection_upgrade;
  proxy_set_header Host $host;
  proxy_set_header Upgrade $http_upgrade;

  location / {
    sub_filter       "http://127.0.0.1:3001"
      "https://perp.m5_assert([ENV_DOMAIN])";
    sub_filter       "ws://127.0.0.1:3001" "wss://perp.m5_assert([ENV_DOMAIN])";
    sub_filter_once  off;
    sub_filter_types application/javascript;
    proxy_pass       http://$proxy_upstream;
  }

  location /api {
    proxy_pass http://api;
  }
}