gzip off;

server {
  listen 80;

  location / {
    sub_filter       "http://127.0.0.1:3001" "https://perp-api.m5_assert([ENV_DOMAIN])";
    sub_filter       "ws://127.0.0.1:3001" "wss://perp-api.m5_assert([ENV_DOMAIN])";
    sub_filter_once  off;
    sub_filter_types application/javascript;
    proxy_set_header Accept-Encoding "";
    proxy_pass       http://perplexica-web:3000;
  }
}
