location /bt {
  return 307 /bt/;
}

location /transmission {
  return 307 /transmission/;
}

location /bt/ {
  include          /usr/local/opt/nginx/conf/http.d/proxy_params.nginx;
  proxy_set_header Origin "";
  proxy_set_header Referer "";
  proxy_pass       http://unix:/run/local/ns-proxy/qbt-8080.sock:/;
}

location /transmission/ {
  include          /usr/local/opt/nginx/conf/http.d/proxy_params.nginx;
  proxy_set_header Host "localhost";
  proxy_pass       http://unix:/run/local/ns-proxy/qbt-9091.sock;
}