location /bt {
  return 307 /bt/;
}

location /bt/ {
  include           /usr/local/opt/nginx/conf/http.d/proxy_params.nginx;
  proxy_set_header  X-Forwarded-Host $host;
  proxy_cookie_path / "/; Secure";
  proxy_pass        http://unix:/run/local/ns-proxy/qbt.sock:/;
}