# https://opentelemetry.io/docs/collector/configuration/
---
extensions:
  &cursor file_storage/journald:
    directory: /var/lib/local/otelcol-contrib
receivers:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/journaldreceiver
  &journal journald:
    merge: true
    all: true
    convert_message_bytes: true
    retry_on_failure:
      enabled: true
    storage: *cursor
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/docs/operators/README.md#what-operators-are-available
    operators:
      - type: remove
        field: body.__CURSOR
      - type: remove
        field: body.__MONOTONIC_TIMESTAMP
      - type: remove
        field: body.__SEQNUM
      - type: remove
        field: body.__SEQNUM_ID
      - type: regex_replace
        field: body._HOSTNAME
        regex: "\\.home\\.arpa$"
        replace_with: ""
      - type: copy
        from: body._HOSTNAME
        to: resource["service.namespace"]
  &recv otlp:
    protocols:
      http:
        endpoint: 127.0.0.53:4318
processors:
  &batch batch:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/ottl/ottlfuncs/README.md
  &journal-meta transform:
    flatten_data: true
    log_statements:
      - >-
        set(resource.attributes["service.name"], "_journald_")
      - >-
        set(resource.attributes["service.name"], log.body["SYSLOG_IDENTIFIER"])
      - >-
        set(resource.attributes["service.name"], log.body["_KERNEL_SUBSYSTEM"])
      - >-
        set(resource.attributes["service.name"], log.body["_SYSTEMD_SLICE"])
      - >-
        set(resource.attributes["service.name"], log.body["_SYSTEMD_UNIT"]) where not IsMatch(log.body["_SYSTEMD_UNIT"], "\\.(slice|scope)$")
exporters:
  &loki otlphttp/logs:
    endpoint: http://127.0.0.53:3100/otlp
  &prometheus prometheus/metrics:
    endpoint: 127.0.0.53:6318
  &tempo otlphttp/traces:
    endpoint: http://127.0.0.53:4317
  &jaeger otlphttp/jaeger:
    endpoint: http://127.0.0.53:44318
service:
  telemetry:
    metrics:
      level: none
    logs:
      level: warn
  extensions:
    - *cursor
  pipelines:
    logs/journal:
      receivers:
        - *journal
      processors:
        - *journal-meta
        - *batch
      exporters:
        - *loki
    logs/otel:
      receivers:
        - *recv
      processors:
        - *batch
      exporters:
        - *loki
    metrics/otel:
      receivers:
        - *recv
      processors:
        - *batch
      exporters:
        - *prometheus
    traces/otel:
      receivers:
        - *recv
      processors:
        - *batch
      exporters:
        - *tempo
        - *jaeger
