# https://opentelemetry.io/docs/collector/configuration/
---
extensions:
  &cursor file_storage/journald:
    directory: /var/lib/local/otelcol-contrib
receivers:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/journaldreceiver
  &journal journald:
    merge: true
    all: true
    convert_message_bytes: true
    retry_on_failure:
      enabled: true
    storage: *cursor
    operators:
      - type: remove
        field: body.__CURSOR
      - type: remove
        field: body.__MONOTONIC_TIMESTAMP
      - type: remove
        field: body.__SEQNUM
      - type: remove
        field: body.__SEQNUM_ID
  &recv otlp:
    protocols:
      http:
        endpoint: "[::]:4318"
processors:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor
  &journal-meta transform:
    log_statements:
      - >-
        set(resource.attributes["service.namespace"], log.body["_HOSTNAME"])
      - >-
        set(resource.attributes["service.name"], "_journald_")
      - >-
        set(resource.attributes["service.name"], log.body["SYSLOG_IDENTIFIER"])
      - >-
        set(resource.attributes["service.name"], log.body["_KERNEL_SUBSYSTEM"])
      - >-
        set(resource.attributes["service.name"], log.body["_SYSTEMD_SLICE"])
      - >-
        set(resource.attributes["service.name"], log.body["_SYSTEMD_UNIT"]) where not IsMatch(log.body["_SYSTEMD_UNIT"], "\\.(slice|scope)$")
exporters:
  &loki otlphttp/logs:
    endpoint: http://127.0.0.53:3100/otlp
  &prometheus otlphttp/metrics:
    endpoint: http://127.0.0.53:55000
  &jaeger otlphttp/traces:
    endpoint: http://127.0.0.53:44318
service:
  telemetry:
    metrics:
      level: none
    logs:
      level: warn
  extensions:
    - *cursor
  pipelines:
    logs/journal:
      receivers:
        - *journal
      processors:
        - *journal-meta
      exporters:
        - *loki
    logs/otel:
      receivers:
        - *recv
      exporters:
        - *loki
    metrics/otel:
      receivers:
        - *recv
      exporters:
        - *prometheus
    traces/otel:
      receivers:
        - *recv
      exporters:
        - *jaeger
