[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

After            = network-online.target

[Container]
Image            = docker.io/library/redis:6
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

Network          = 3-pm-traefik.network

[Service]
Restart          = on-failure
