---
services:
  privatebin:
    image: ghcr.io/privatebin/fs:latest
    labels:
      kompose.controller.type: statefulset
      kompose.service.expose: pastebin.${DOMAIN}
    ports:
      - 8080
    volumes:
      - ./conf.php:/srv/cfg/conf.php:ro
      - tmp:/tmp
      - tmp2:/var/lib/nginx/tmp
      - data:/srv/data

volumes:
  data:
  tmp:
  tmp2:
