[Unit]
Description      = CGI -- /usr/local/opt/cgi/bin/%J
CollectMode      = inactive-or-failed

BindsTo          = %p.socket
After            = %p.socket

[Service]
Type             = oneshot

ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %t %T %V
TimeoutStartSec  = 1m

EnvironmentFile  = -/usr/local/etc/default/%J.cgi.env
ExecStart        = /usr/local/opt/cgi/bin/%J
