# m5_for([PS], [
# m4_pushdef([PATH], [m4_regexp(PS, [\(^[^:]+\)], [\1])])
# m4_pushdef([SOCK], [m4_regexp(PS, [\([^:]+\)$], [\1])])
location /PATH {
  return 307 /PATH/;
}

location /PATH/ {
  error_log                 stderr crit;
  proxy_http_version        1.0;
  chunked_transfer_encoding off;
  brotli                    off;
  gzip                      off;
  proxy_buffering           off;
  proxy_pass                http://unix:SOCK:/;
}

# ], ENV_SOCKS)
include /dev/null;
