[Unit]
Description         = OpenVPN Gen Keys -- %S/local/openvpn/tls-crypt-v2-server.key
RequiresMountsFor   = %S/local/openvpn
ConditionPathExists = !%S/local/openvpn/tls-crypt-v2-server.key

[Service]
Type                = oneshot
RemainAfterExit     = yes
Restart             = on-failure

ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
StateDirectory      = local/openvpn
ReadWritePaths      = %T

Environment         = KEY=%S/local/openvpn/tls-crypt-v2-server.key

ExecStart           = openvpn --genkey tls-crypt-v2-server ${KEY}
