[Unit]
Description         = OpenVPN -- %S/local/openvpn/self.key
ConditionPathExists = !%S/local/openvpn/self.key

[Service]
Type                = oneshot
RemainAfterExit     = yes
Restart             = on-failure

ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
ReadWritePaths      = %S/local %T

Environment         = KEY=%S/local/openvpn/self.key

ExecCondition       = sh -c '! "$@"' - test -f ${KEY}
ExecStart           = /usr/local/libexec/sponge2.sh ${KEY} wg genkey
ExecStart           = chmod 660 -- ${KEY}
ExecStart           = chown -v -- systemd-network:systemd-network ${KEY}
