[Unit]
Description     = OpenVPN -- Clients

Requires        = 1-self-signed@ovpn\x2d%i.service
After           = 1-self-signed@ovpn\x2d%i.service

[Service]
Type            = oneshot
RemainAfterExit = yes
Restart         = on-failure

ProtectSystem   = strict
ProtectHome     = yes
PrivateTmp      = yes
ReadWritePaths  = %S/local/openvpn %C/local/openvpn %T

EnvironmentFile = /usr/local/etc/default/o-0.ovpn.env

Environment     = OVPN_SERVER_NAME=
Environment     = OVPN_PEERS=
Environment     = SSL=%C/local/self-signed/ovpn-0

Environment     = STATE=%S/local/openvpn
Environment     = CACHE=%C/local/openvpn

ExecStart       = /usr/local/opt/openvpn/libexec/alloc.sh ${CACHE} ${STATE} ${OVPN_SERVER_NAME} ${OVPN_TCP_PORT} ${OVPN_UDP_PORT} ${OVPN_PEERS}
