[Unit]
Requires       = 0-ovpn-private-key.service
After          = 0-ovpn-private-key.service

BindsTo        = 1-ip-alloc@o\x2d%i.service
After          = 1-ip-alloc@o\x2d%i.service

BindsTo        = 1-vtun@o\x2d%i.service
After          = 1-vtun@o\x2d%i.service

[Service]
Type           = oneshot

ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes

ReadWritePaths = %t %T
ExecStart      = sleep -- 999
