server {
  listen [::]:80 ipv6only=off;

  location / {
    proxy_pass http://unix:/run/local/nginx/acme.sock;
  }
}

server {
  listen         unix:/run/local/nginx/http.sock default_server proxy_protocol;
  listen         unix:/run/local/nginx/http3.sock quic;
  include        /usr/local/opt/nginx/conf/auth.nginx;
  real_ip_header proxy_protocol;
  merge_slashes  off;
  add_header     Alt-Svc 'h3=":443"' always;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass http://127.0.0.53:10080/;
  }
}

server {
  server_name    autodiscover.*;
  listen         unix:/run/local/nginx/http.sock proxy_protocol;
  listen         unix:/run/local/nginx/http3.sock quic;
  real_ip_header proxy_protocol;
  add_header     Alt-Svc 'h3=":443"' always;

  location / {
    proxy_pass http://unix:/run/local/nginx/z-push.sock:/;
  }
}

server {
  server_name    local.*;
  listen         unix:/run/local/nginx/http.sock proxy_protocol;
  listen         unix:/run/local/nginx/http3.sock quic;
  include        /usr/local/opt/nginx/conf/auth.nginx;
  real_ip_header proxy_protocol;
  add_header     Alt-Svc 'h3=":443"' always;

  location / {
    include           /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass_header Content-Security-Policy;
    proxy_pass        http://unix:/run/local/nginx/cgi.sock:/;
  }
}