server {
  listen        unix:/run/local/nginx/http.sock default_server proxy_protocol;
  include       /usr/local/opt/nginx/conf/auth.nginx;
  merge_slashes off;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass http://127.0.0.53:10080/;
  }
}

server {
  server_name autodiscover.*;
  listen      unix:/run/local/nginx/http.sock proxy_protocol;

  location / {
    proxy_pass http://unix:/run/local/nginx/z-push.sock;
  }
}

server {
  server_name local.*;
  listen      unix:/run/local/nginx/http.sock proxy_protocol;
  include     /usr/local/opt/nginx/conf/auth.nginx;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass http://unix:/run/local/nginx/cgi.sock;
  }
}