server {
  server_name ~^(?!local\.).*$;
  listen      unix:/run/local/nginx/gateway-https.sock;
  include     /usr/local/opt/nginx/conf/auth.nginx;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    add_header Content-Security-Policy
      "default-src 'self' data: blob: 'unsafe-inline' 'unsafe-eval' *.$optimistic_host; img-src * data:; media-src * data:;"
      always;
    include    /usr/local/opt/nginx/conf/http.d/proxy_params.nginx;
    proxy_pass http://127.0.0.1:8008/;
  }
}