[Unit]
Description         = Reload nginx on generator updates
StopWhenUnneeded    = yes

ConditionPathExists = /usr/local/opt/nginx/libexec/sidecar.sh

PartOf              = nginx.service
Requisite           = nginx.service
After               = nginx.service

[Service]
Type                = oneshot
LogLevelMax         = warning
SyslogLevel         = warning
ProtectSystem       = strict
ProtectHome         = yes
ReadWritePaths      = %t/local/nginx %t/local/ngenx %T
PrivateTmp          = yes

RuntimeDirectory    = local/ngenx/conf.d local/ngenx/http.d local/ngenx/server.d local/ngenx/stream.d
ExecStart           = /usr/local/opt/nginx/libexec/sidecar.sh %t/local/nginx/conf %t/local/nginx/www %t/local/ngenx
