[Unit]
Description         = Polling for failed services
ConditionPathExists = /usr/local/libexec/hr-run.sh

[Service]
Type                = oneshot
ProtectSystem       = strict
ProtectHome         = yes
ReadWritePaths      = %C/local
PrivateTmp          = yes

CacheDirectory      = local/%J

Environment         = RUN=%C/local/%J
Environment         = USER=%u
Environment         = HOSTNAME=%H
Environment         = REMOTE=

EnvironmentFile     = /usr/local/etc/default/systemd-monitor.env

ExecStart           = /usr/local/libexec/hr-run.sh /usr/local/opt/systemd-monitor/libexec/cron.sh ${RUN}
ExecStart           = /usr/local/libexec/hr-run.sh /usr/local/opt/systemd-monitor/libexec/sendmail.sh ${RUN} ${REMOTE}
