[Unit]
Description  = chown -- systemd-network:systemd-network

[Service]
Type         = oneshot
Environment  = NETWORKS=/usr/local/lib/systemd/network
ExecStartPre = mkdir -p -- ${NETWORKS}
ExecStart    = chown -R -- systemd-network:systemd-network ${NETWORKS}
