[Unit]
Description          = Ephemeral bridge -- %I
StopWhenUnneeded     = yes

BindsTo              = 0-ip-alloc@vn\x2d%i.service
After                = 0-ip-alloc@vn\x2d%i.service

ReloadPropagatedFrom = nftables.service
After                = nftables.service

[Service]
Type                 = oneshot
RemainAfterExit      = yes
Restart              = on-failure

ProtectSystem        = strict
PrivateTmp           = yes
ReadWritePaths       = %t/systemd %T

Environment          = NETWORKD_DHCP=yes
Environment          = IFACE=vn-%I
Environment          = DOMAIN=%I
Environment          = NETDEV=%t/systemd/network/0-vn-%I.netdev
Environment          = NETWORK=%t/systemd/network/0-vn-%I.network

ExecStart            = envsubst2.sh /usr/local/lib/network/@.netdev ${NETDEV}
ExecStart            = /usr/local/lib/network/iface.sh ${IFACE} ${DOMAIN}
ExecReload           = networkctl reconfigure -- ${IFACE}
ExecStopPost         = rm -v --recursive --force -- ${NETDEV} ${NETWORK}
ExecStopPost         = -networkctl delete -- ${IFACE}
