[Unit]
Description          = Ephemeral bridge -- %I
StopWhenUnneeded     = yes

BindsTo              = 0-ip-alloc@vn\x2d%i.service
After                = 0-ip-alloc@vn\x2d%i.service

ReloadPropagatedFrom = nftables.service
After                = nftables.service

[Service]
Type                 = oneshot
RemainAfterExit      = yes
Restart              = on-failure

ProtectSystem        = strict
PrivateTmp           = yes
ReadWritePaths       = %t/systemd %T

EnvironmentFile      = /usr/local/etc/default/%I.vn.env

Environment          = NETWORKD_DHCP=no
Environment          = IFACE=vn-%I
Environment          = DOMAIN=%I
Environment          = NETDEV=%t/systemd/network/0-vn-%I.netdev
Environment          = NETWORK=%t/systemd/network/0-vn-%I.network

ExecStart            = /usr/local/libexec/envsubst2.sh /usr/local/opt/network/@.netdev ${NETDEV}
ExecStart            = /usr/local/libexec/envsubst2.sh /usr/local/opt/network/@.network ${NETWORK}
ExecStart            = networkctl reload
ExecStart            = nft -- 'add element inet user internal_ifs { ${IFACE} }'
ExecReload           = nft -- 'add element inet user internal_ifs { ${IFACE} }'
ExecStopPost         = -nft -- 'delete element inet user internal_ifs { ${IFACE} }'
ExecStopPost         = rm -v --recursive --force -- ${NETDEV} ${NETWORK}
ExecStopPost         = -networkctl delete -- ${IFACE}
