[Unit]
Description              = IPv4 alloc -- %t/local/ip/%I.env
StopWhenUnneeded         = yes
CollectMode              = inactive

After                    = network-online.target

[Service]
Type                     = oneshot
RemainAfterExit          = yes

ProtectSystem            = strict
ProtectHome              = yes
PrivateTmp               = yes
RuntimeDirectory         = local/ip
RuntimeDirectoryPreserve = yes
ReadWritePaths           = %t/local/ip %T

Environment              = LOCK=%t/local/ip
Environment              = IFACE=%I
Environment              = IPV4_PREFIX=24

EnvironmentFile          = -/usr/local/etc/default/%I.ip.env

ExecStart                = /usr/local/opt/network/libexec/ipalloc.sh ${LOCK} /usr/local/opt/ip ${IFACE} ${IPV4_PREFIX}
ExecStopPost             = flock -- ${LOCK} rm -v -fr -- ${LOCK}/${IFACE}.env
