[Unit]
Description      = netns -- %E/netns/%I
StopWhenUnneeded = yes
CollectMode      = inactive
After            = network.target

[Service]
Type             = oneshot
RemainAfterExit  = yes
Restart          = on-failure

RuntimeDirectory = local/netns/%I
Environment      = NETNS=%I

ExecStartPre     = -/usr/local/libexec/hr-run.sh ip netns del ${NETNS}
ExecStart        = /usr/local/libexec/hr-run.sh ip netns add ${NETNS}
ExecStart        = /usr/local/libexec/hr-run.sh ip --netns ${NETNS} link set dev lo up
ExecStop         = -/usr/local/libexec/hr-run.sh ip netns del ${NETNS}
ExecStopPost     = rm -v -fr -- %t/local/netns/%I
