[Unit]
Description      = netns -- %E/netns/%I
StopWhenUnneeded = yes
CollectMode      = inactive
After            = network.target

[Service]
Type             = oneshot
RemainAfterExit  = yes
Restart          = on-failure

RuntimeDirectory = local/netns/%I
Environment      = NETNS=%I

ExecStartPre     = -ip netns del ${NETNS}
ExecStart        = ip netns add ${NETNS}
ExecStart        = ip --netns ${NETNS} link set dev lo up
ExecStop         = -ip netns del ${NETNS}
ExecStartPost    = ip netns
