[Unit]
Description          = NetNS DNS -- %I

BindsTo              = 1-netns@%i.service
After                = 1-netns@%i.service

[Service]
ProtectSystem        = strict
ProtectHome          = yes
PrivateTmp           = yes
ReadWritePaths       = %T %V
NetworkNamespacePath = %t/netns/%I

ExecStart            = nginx -c /usr/local/opt/netns/main.nginx
