[Unit]
Description          = NetNS DNS -- %I
StopWhenUnneeded     = yes
CollectMode          = inactive
ConditionPathExists  = %t/netns/%I

BindsTo              = 1-netns-ns@%i.service
After                = 1-netns-ns@%i.service

BindsTo              = 1-netns-dns@%j.service
After                = 1-netns-dns@%j.service

[Service]
Restart              = on-failure

ProtectSystem        = strict
ProtectHome          = yes
PrivateTmp           = yes
ReadWritePaths       = %t/local/dns %T
NetworkNamespacePath = %t/netns/%I

ExecStart            = socat -T 9 %j-listen:53,bind=127.0.0.53,fork unix-connect:%t/local/dns/%J.sock
ExecReload           = kill -s SIGUSR1 -- ${MAINPID}
SuccessExitStatus    = 143
