[Unit]
Description         = netns ns -- %E/netns/%I
StopWhenUnneeded    = yes
CollectMode         = inactive

ConditionPathExists = !%t/local/netns/%I

After               = network.target

[Service]
Type                = oneshot
RemainAfterExit     = yes

RuntimeDirectory    = local/netns/%I
Environment         = NETNS=%I

ExecStart           = ip netns add ${NETNS}
ExecStart           = ip --netns ${NETNS} link set dev lo up
ExecStart           = cp -v -f -- /usr/local/opt/netns/resolv.conf %t/local/netns/%I/resolv.conf
ExecStop            = -ip netns del ${NETNS}
ExecStopPost        = rm -v -fr -- %t/local/netns/%I
