[Unit]
Description          = netns proxy -- %E/netns/%I

BindsTo              = %p@%i.socket
After                = %p@%i.socket

[Service]
Restart              = on-failure

ProtectSystem        = strict
NetworkNamespacePath = %E/netns/%I

EnvironmentFile      = /usr/local/etc/default/%I.nsproxy.env
Environment          = CONN=localhost:80

ExecStart            = /usr/lib/systemd/systemd-socket-proxyd -- ${CONN}
