[Unit]
Description         = Self signed certs for %H @ %C/local/self-signed/%I

ConditionPathExists = !%C/local/self-signed/%I/ssl.pem
ConditionPathExists = !%C/local/self-signed/%I/ssl.crt
ConditionPathExists = !%C/local/self-signed/%I/ssl.key

[Service]
Type                = oneshot
RemainAfterExit     = yes
Restart             = on-failure

ProtectSystem       = strict
ProtectHome         = yes
ReadWritePaths      = %C/local

Environment         = DIR=%C/local/self-signed/%I
Environment         = PEM=%C/local/self-signed/%I/ssl.pem
Environment         = CRT=%C/local/self-signed/%I/ssl.crt
Environment         = KEY=%C/local/self-signed/%I/ssl.key

ExecStartPre        = mkdir -v --parents -- ${DIR}
ExecStart           = openssl req -x509 -newkey rsa:4096 -sha256 -days 6969 -nodes -subj /CN=%H -out ${CRT} -keyout ${KEY}
ExecStart           = dd oflag=append conv=notrunc if=${KEY} of=${PEM}
ExecStart           = dd oflag=append conv=notrunc if=${CRT} of=${PEM}
ExecStop            = rm -v -fr -- ${DIR}
