[Unit]
Description         = Self signed certs for %H @ %C/local/self-signed/%I

RequiresMountsFor   = %C/local/self-signed
ConditionPathExists = !%C/local/self-signed/%I/fullchain.pem

[Service]
Type                = oneshot
RemainAfterExit     = yes
Restart             = on-failure

ProtectSystem       = strict
ProtectHome         = yes

CacheDirectory      = local local/self-signed/%I

Environment         = DIR=%C/local/self-signed/%I
Environment         = PEM=%C/local/self-signed/%I/ssl.pem
Environment         = CRT=%C/local/self-signed/%I/ssl.crt
Environment         = KEY=%C/local/self-signed/%I/ssl.key

Environment         = CERTBOT_KEY=%C/local/self-signed/%I/privkey.pem
Environment         = CERTBOT_PEM=%C/local/self-signed/%I/fullchain.pem

ExecStart           = openssl req -x509 -newkey rsa:4096 -days 6969 -nodes -subj /CN=%H -out ${CRT} -keyout ${KEY}
ExecStart           = dd oflag=append conv=notrunc if=${CRT} of=${PEM}
ExecStart           = dd oflag=append conv=notrunc if=${KEY} of=${PEM}
ExecStart           = ln -snfv -- ${KEY} ${CERTBOT_KEY}
ExecStart           = ln -snfv -- ${PEM} ${CERTBOT_PEM}
