# m4_include([layers/xray/usr/local/opt/xray/vars.m4.yml])
[[Network]]

# m5_for([PROTOCOL], [
# m5_for([TRANSPORT], [
# m4_pushdef([TRANS], [m4_regexp(TRANSPORT, [\(^[^@]+\)], [\1])])
# m4_pushdef([XPORT], [m4_regexp(TRANSPORT, [\([^@]+$\)], [\1])])
# m4_ifelse(XPORT, [udp], [
# m4_pushdef([B3], m4_esyscmd(printf -- %s 'PROTOCOL-TRANS' | b3sum --no-names --length 8))
# m4_pushdef([SUFFIX], m4_substr(B3, 0, 4):m4_substr(B3, 4, 4):m4_substr(B3, 8, 4):m4_substr(B3, 12, 4))
# m4_pushdef([SALTED], m4_substr(m4_esyscmd(printf -- %s 'PROTOCOL-TRANS-ENV_XRAY_SEED' | b3sum --no-names --length 8), 0, 16))
# PROTOCOL-TRANS SALTED
[[IPv6AcceptRA]]
Token = static:::SUFFIX
# ])
# ], TRANSPORTS)
# ], PROTOCOLS)
