server {
  server_name cups.*;
  listen      unix:/run/local/nginx/cgi.sock;
  include     /usr/local/opt/nginx/conf/server.d/http-alt.nginx;

  location / {
    include          /usr/local/opt/nginx/conf/websocket.nginx;
    proxy_set_header Host localhost;
    proxy_set_header Authorization "Basic Y3VwczpjdXBz";
    proxy_pass       http://unix:/run/cups/cups.sock:/;
  }
}