server {
  listen           [::]:6310 ipv6only=off;
  include          /usr/local/opt/nginx/conf/websocket.nginx;
  proxy_set_header Host localhost;
  proxy_set_header Authorization "Basic Y3VwczpjdXBz";

  location / {
    proxy_pass http://unix:/run/cups/cups.sock:/;
  }
}