[Unit]
Description      = Wicd sleep hook
StopWhenUnneeded = yes
CollectMode      = inactive-or-failed

Before           = sleep.target

[Service]
Type             = oneshot
RemainAfterExit  = yes
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ExecStart        = /usr/local/libexec/hr-run.sh sleep -- 1
