[Unit]
Description  = A spotify playing daemon
Wants        = sound.target
After        = sound.target
Wants        = network-online.target
After        = network-online.target

[Service]
Restart      = always
RestartSec   = 9

Environment  = CACHE=%C/spotifyd/%I

ExecStartPre = mkdir -v -p -- ${CACHE}
ExecStart    = /var/cache/local/spotifyd/spotifyd --no-daemon --autoplay --volume-normalisation --cache-path ${CACHE} --device-name %I@%H --initial-volume 100 --config-path %E/spotifyd/%I.toml

[Install]
WantedBy     = default.target
