[Unit]
Description    = Airplay server daemon
Requires       = gnome-session-initialized.target
After          = gnome-session-initialized.target

[Service]
Restart        = on-failure

ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes

ReadWritePaths = %t %T
Environment    = DISPLAY=:0

ExecStartPre   = /usr/local/libexec/retry.sh 0.1 stat -- /run/avahi-daemon/socket
ExecStart      = uxplay -p -avdec

[Install]
WantedBy       = default.target
