[Unit]
Description    = Airplay server daemon
Requires       = gnome-session-initialized.target
After          = gnome-session-initialized.target

[Service]
Restart        = on-failure

ReadWritePaths = %t %T
Environment    = WAYLAND_DISPLAY=wayland-0

# -fs -nohold
ExecStart      = uxplay -p -nh -n %H

[Install]
WantedBy       = default.target
