[Unit]
Description     = Rclone Mount -- %I
After           = network-online.target
Before          = smb.service

[Service]
Type            = notify
Restart         = on-failure
RestartSec      = 2s

# User            = 1000
# Group           = 1000
CacheDirectory  = local/rclone/%i

EnvironmentFile = /usr/local/etc/default/%i.rmount.env

Environment     = WHAT=
Environment     = WHERE=/media/%I
Environment     = CACHE=%C/local/rclone/%i
Environment     = TRANSFERS=8
Environment     = VFS_MAX_SIZE=1G
Environment     = VFS_CACHE_MODE=off
Environment     = DIR_CACHE_TIME=0
Environment     = POLL_INTERVAL=0
Environment     = WEBDAV="--webdav-vendor rclone --webdav-pacer-min-sleep 0"
Environment     = READONLY="--read-only --vfs-fast-fingerprint"
Environment     = ARGV=

ExecStartPre    = !-fusermount -u -- ${WHERE}
ExecStartPre    = !mkdir -v -p -- /media/%I
ExecStartPre    = !chown -v -- 1000:1000 /media/%I
ExecStart       = rclone mount \
                    --allow-non-empty \
                    --allow-other \
                    --cache-dir ${CACHE} \
                    --config /dev/null \
                    --default-permissions \
                    --transfers ${TRANSFERS} \
                    --gid 1000 \
                    --uid 1000 \
                    --use-mmap \
                    --vfs-refresh \
                    --vfs-cache-mode ${VFS_CACHE_MODE} \
                    --vfs-cache-max-size ${VFS_MAX_SIZE} \
                    --dir-cache-time ${DIR_CACHE_TIME} \
                    --poll-interval ${POLL_INTERVAL} \
                    $WEBDAV $READONLY \
                    $ARGV -- ${WHAT} ${WHERE}
ExecReload      = kill -s HUP -- ${MAINPID}
ExecStop        = fusermount -u -- ${WHERE}
