---
x-k8s:
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: csp
      namespace: ${COMPOSE_PROJECT_NAME}
    spec:
      headers:
        customResponseHeaders:
          Content-Security-Policy: >-
            default-src 'self' https://registry.npmmirror.com/ https://cdn.jsdelivr.net data: blob: 'unsafe-inline' 'unsafe-eval';
            img-src * data: blob:;
            media-src * data: blob:;
            connect-src 'self' https://registry.npmmirror.com/ https://cdn.jsdelivr.net https://s3.m5_assert([ENV_DOMAIN]);

services:
  lobe-chat:
    image: docker.io/lobehub/lobehub:latest
    labels:
      kompose.service.expose: chat.${DOMAIN}
      traefik.ingress.kubernetes.io/router.middlewares: ${COMPOSE_PROJECT_NAME}-csp@kubernetescrd
    environment:
      # AUTH_ALLOWED_EMAILS:
      ANTHROPIC_API_KEY:
      APP_URL: https://chat.${DOMAIN}
      AUTH_AUTH0_ID:
      AUTH_AUTH0_ISSUER:
      AUTH_AUTH0_SECRET:
      AUTH_DISABLE_EMAIL_PASSWORD: 1
      AUTH_SECRET:
      AUTH_SSO_PROVIDERS: auth0
      BROWSERLESS_BLOCK_ADS: 1
      BROWSERLESS_STEALTH_MODE: 1
      BROWSERLESS_TOKEN:
      BROWSERLESS_URL: http://browserless.${COMPOSE_PROJECT_NAME}.svc.cluster.local:3000
      CRAWLER_IMPLS: browserless,naive
      DATABASE_URL: postgres://${COMPOSE_PROJECT_NAME}:${COMPOSE_PROJECT_NAME}@pg.${COMPOSE_PROJECT_NAME}.svc.cluster.local/${COMPOSE_PROJECT_NAME}
      DEEPSEEK_API_KEY:
      ENABLE_PROXY_DNS: 1
      FEATURE_FLAGS: -welcome_suggest,-changelog,-market
      GOOGLE_API_KEY:
      HOSTNAME: "::"
      KEY_VAULTS_SECRET:
      OLLAMA_MODEL_LIST:
      OLLAMA_PROXY_URL:
      OPENAI_API_KEY:
      OPENROUTER_API_KEY:
      OTEL_EXPORTER_OTLP_ENDPOINT: http://opentelemetry-collector.opentelemetry-collector.svc.cluster.local:4318
      REDIS_TLS: 0
      REDIS_URL: redis://redis.${COMPOSE_PROJECT_NAME}.svc.cluster.local:6379
      S3_ACCESS_KEY_ID:
      S3_BUCKET:
      S3_ENABLE_PATH_STYLE: 1
      S3_ENDPOINT: &s3 https://s3.${DOMAIN}
      S3_PUBLIC_DOMAIN: *s3
      S3_SECRET_ACCESS_KEY:
      SEARCH_PROVIDERS: searxng
      SEARXNG_URL: http:/searxng.kompsed-searx.svc.cluster.local:8080
      XAI_API_KEY:
    ports:
      - 3210

  redis:
    image: ghcr.io/valkey-io/valkey:latest
    ports:
      - 6379
    volumes:
      - data:/data

  pg:
    image: docker.io/pgvector/pgvector:pg18-trixie
    labels:
      kompose.controller.type: statefulset
      kompose.volume.type: hostPath
    environment:
      POSTGRES_DB: ${COMPOSE_PROJECT_NAME}
      POSTGRES_PASSWORD: ${COMPOSE_PROJECT_NAME}
      POSTGRES_USER: ${COMPOSE_PROJECT_NAME}
    ports:
      - 5432
    volumes:
      - /var/lib/local/lobe-chat:/var/lib/postgresql

  browserless:
    image: ghcr.io/browserless/chromium:latest
    environment:
      HOST: "::"
      MAX_MEMORY_PERCENT: 80
      TOKEN: ${BROWSERLESS_TOKEN}
    ports:
      - 3000

volumes:
  data:
