---
x-k8s:
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: csp
      namespace: ${COMPOSE_PROJECT_NAME}
    spec:
      headers:
        customResponseHeaders:
          Content-Security-Policy: >-
            default-src 'self' https://registry.npmmirror.com/ https://cdn.jsdelivr.net data: blob: 'unsafe-inline' 'unsafe-eval';
            img-src * data: blob:;
            media-src * data: blob:;
            connect-src 'self' https://registry.npmmirror.com/ https://cdn.jsdelivr.net https://s3.m5_assert([ENV_DOMAIN]);

services:
  lobe-chat:
    image: docker.io/lobehub/lobe-chat-database:latest
    labels:
      kompose.service.expose: chat.${DOMAIN}
      traefik.ingress.kubernetes.io/router.middlewares: ${COMPOSE_PROJECT_NAME}-csp@kubernetescrd
    healthcheck:
      test:
        - CMD
        - wget
        - --quiet
        - -O/dev/null
        - --timeout
        - "1"
        - --
        - localhost:3210
    environment:
      ANTHROPIC_API_KEY:
      APP_URL: https://chat.${DOMAIN}/
      AUTH_AUTH0_ID:
      AUTH_AUTH0_ISSUER:
      AUTH_AUTH0_SECRET:
      BROWSERLESS_TOKEN:
      BROWSERLESS_URL: http://browserless:3000
      DATABASE_URL: postgres://${COMPOSE_PROJECT_NAME}:${COMPOSE_PROJECT_NAME}@pg/${COMPOSE_PROJECT_NAME}
      DEEPSEEK_API_KEY:
      ENABLE_PROXY_DNS: 1
      FEATURE_FLAGS: -check_updates,-clerk_sign_up,-welcome_suggest,-market
      GOOGLE_API_KEY:
      HOSTNAME: "::"
      KEY_VAULTS_SECRET:
      NEXT_AUTH_SECRET:
      NEXT_AUTH_SSO_PROVIDERS: auth0
      NEXT_PUBLIC_SERVICE_MODE: server
      NEXTAUTH_URL: https://chat.${DOMAIN}/api/auth
      NEXTAUTH_URL_INTERNAL: http://lobe-chat.kompsed-lobe-chat.svc.cluster.local:3210/api/auth
      OLLAMA_MODEL_LIST:
      OLLAMA_PROXY_URL:
      OPENAI_API_KEY:
      OPENROUTER_API_KEY:
      OTEL_EXPORTER_OTLP_ENDPOINT: http://opentelemetry-collector.opentelemetry-collector.svc.cluster.local:4318
      S3_ACCESS_KEY_ID:
      S3_BUCKET:
      S3_ENABLE_PATH_STYLE: 1
      S3_ENDPOINT: &s3 https://s3.${DOMAIN}
      S3_PUBLIC_DOMAIN: *s3
      S3_SECRET_ACCESS_KEY:
      XAI_API_KEY:
    ports:
      - 3210

  pg:
    image: docker.io/pgvector/pgvector:pg17
    healthcheck:
      test:
        - CMD
        - pg_isready
        - --username
        - ${COMPOSE_PROJECT_NAME}
        - --dbname
        - ${COMPOSE_PROJECT_NAME}
    labels:
      kompose.controller.type: statefulset
      kompose.volume.type: hostPath
    environment:
      POSTGRES_DB: ${COMPOSE_PROJECT_NAME}
      POSTGRES_PASSWORD: ${COMPOSE_PROJECT_NAME}
      POSTGRES_USER: ${COMPOSE_PROJECT_NAME}
    ports:
      - 5432
    volumes:
      - /var/lib/local/lobe-chat:/var/lib/postgresql/data
