user      root;
error_log stderr;

events {
}

http {
  proxy_buffering    off;
  proxy_http_version 1.1;
  proxy_read_timeout 28d;
  tcp_nopush         on;

  server {
    listen [[::]]:80 ipv6only=off reuseport;

    location / {
      proxy_set_header Authorization "Basic m5_assert([ENV_OLLAMA_API_KEY])";
      proxy_set_header Host $host;
      proxy_pass       m5_assert([ENV_OLLAMA_API_BASE]);
    }
  }
}