---
x-k8s:
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: auth
      namespace: ${COMPOSE_PROJECT_NAME}
    spec:
      headers:
        customRequestHeaders:
          Authorization: Basic Z3VhY2FkbWluOmd1YWNhZG1pbg==

services:
  guacamole:
    image: &img docker.io/guacamole/guacamole:latest
    labels:
      kompose.service.expose: rdp.${DOMAIN}
    healthcheck:
      test:
        - CMD
        - wget
        - --quiet
        - -O/dev/null
        - --timeout
        - "1"
        - --
        - localhost:8080
    environment:
      GUACD_HOSTNAME: guacd.${COMPOSE_PROJECT_NAME}.svc.cluster.local
      REMOTE_IP_VALVE_ENABLED: true
      POSTGRES_DATABASE:
      POSTGRES_HOSTNAME:
      POSTGRES_PASSWORD:
      POSTGRES_USER:
      WEBAPP_CONTEXT: ROOT
    ports:
      - 8080

  guacd:
    image: docker.io/guacamole/guacd:latest
    ports:
      - 4822

  pg:
    image: docker.io/library/postgres:latest
    labels:
      kompose.init.containers.image: *img
      kompose.init.containers.command: '["sh", "-c", "/opt/guacamole/bin/initdb.sh --postgresql > /var/tmp/init.sql"]'
    healthcheck:
      test:
        - CMD
        - pg_isready
        - --username
        - ${COMPOSE_PROJECT_NAME}
        - --dbname
        - ${COMPOSE_PROJECT_NAME}
    ports:
      - 5432
    volumes:
      - data:/var/lib/postgresql

volumes:
  data:
