[Unit]
Description    = Tail Remote Journal -- %I
After          = network-online.target

[Service]
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
Group          = systemd-journal

ReadWritePaths = %T %V %S/local/%J

Environment    = NAME=%S/local/%J/%I
ExecStart      = /usr/local/opt/journal/libexec/rtail.sh ${NAME} %I ${NAME}.journal
