[[NetDev]]
Name                = m5_assert([ENV_IFACE])
Kind                = wireguard

[[WireGuard]]
ListenPort          = m5_or([ENV_SERVER_PORT], [51820])
PrivateKeyFile      = m5_assert([ENV_SERVER_KEY])

# m4_define([PEER], [
# -> $1
[[WireGuardPeer]]
PersistentKeepalive = 6
PublicKey           = $2
PresharedKey        = $3
AllowedIPs          = $4
AllowedIPs          = $5
# ])

# m5_for([X_X], [PEER(X_X)], m5_assert([ENV_PEER]))
