---
services:
  yacy:
    image: docker.io/yacy/yacy_search_server:latest
    labels:
      kompose.controller.type: statefulset
      kompose.service.expose: yacy.${DOMAIN}
    ports:
      - 8090
    volumes:
      - data:/opt/yacy_search_server/DATA

volumes:
  data:
