---
services:
  yacy:
    image: docker.io/yacy/yacy_search_server:latest
    labels:
      kompose.controller.type: statefulset
      kompose.service.expose: yacy.${DOMAIN}
    # healthcheck:
    #   test:
    #     - CMD
    #     - wget
    #     - --quiet
    #     - -O/dev/null
    #     - --timeout
    #     - "1"
    #     - --
    #     - localhost:8080
    ports:
      - 8090
    volumes:
      - data:/opt/yacy_search_server/DATA

volumes:
  data:
