<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>${title}</title>
    <style>
      /* ${style} */
    </style>
  </head>
  <body class="player">
    <!-- ${player} -->
    <button id="playback" aria-label="Play or pause"></button>
    <div class="control-sensor">
      <div class="control-bar">
        <!-- ${control_bar} -->
        <form method="get">
          <input name="t" type="hidden" value="${time}" />
          <div class="selections">
            <label title="Profile">
              <span aria-hidden="true">⚙</span>
              <select name="profile" aria-label="Profile">
                <!-- ${profile_options} -->
              </select>
            </label>
            <label title="Audio">
              <span aria-hidden="true">♫</span>
              <select name="audio" aria-label="Audio">
                <!-- ${audio_options} -->
              </select>
            </label>
            <label title="Subtitle">
              <span aria-hidden="true">▤</span>
              <select name="subtitle" aria-label="Subtitle">
                <!-- ${subtitle_options} -->
              </select>
            </label>
          </div>
          <button aria-label="Apply">✓</button>
        </form>
      </div>
    </div>
    <script>
      <!-- ${script} -->
    </script>
  </body>
</html>
