body {
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

audio,
video {
  width: 100%;
}

input[type="range"] {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
