[Unit]
Description       = %J

RequiresMountsFor = %S/local

Wants             = network-online.target
After             = network-online.target

After             = nftables.service

After             = modprobe@br_netfilter.service
Requires          = modprobe@br_netfilter.service

After             = modprobe@overlay.service
Requires          = modprobe@overlay.service

# Upholds           = 0-k8s-xtail.timer

PropagatesStopTo  = kubepods.slice

[Service]
Type              = notify
Delegate          = yes
Restart           = on-failure
RestartSec        = 5s
TimeoutStartSec   = 0s

ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes
ReadWritePaths    = %t %T %V %S %E %L
RuntimeDirectory  = local/%J

LimitNOFILE       = 1048576
LimitNPROC        = infinity
LimitCORE         = infinity
TasksMax          = infinity


Environment       = K3S_CONFIG_FILE=/usr/local/opt/%J/conf.yml
Environment       = K3S_NODE_NAME=%H

Environment       = K3S_DATASTORE_ENDPOINT=

EnvironmentFile   = /usr/local/etc/default/%J.env

ExecStartPre      = /usr/local/opt/%J/libexec/resolv.sh
ExecStart         = k3s server \
                    --resolv-conf ${RUNTIME_DIRECTORY}/resolv.conf \
                    --node-name ${K3S_NODE_NAME} \
                    --config ${K3S_CONFIG_FILE}
