[Unit]
Description              = xtailing k8s logs - service

StopWhenUnneeded         = yes

PartOf                   = 0-k3s.service
Requisite                = 0-k3s.service
After                    = 0-k3s.service

[Service]
Restart                  = on-failure
Type                     = oneshot
LogLevelMax              = notice
SyslogLevel              = notice

ProtectSystem            = strict
ProtectHome              = yes
PrivateTmp               = yes

RuntimeDirectory         = local/k8s-xtail
RuntimeDirectoryPreserve = yes

ExecStart                = find %L/containers -type l -exec /usr/local/opt/k3s/libexec/xtail.sh ${RUNTIME_DIRECTORY} {} ';'
