[Unit]
Description      = %N

StopWhenUnneeded = yes

PartOf           = 0-k3s.service
Requisite        = 0-k3s.service
After            = 0-k3s.service

[Service]
Restart          = on-failure

ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes

ExecStart        = /usr/local/opt/k3s/libexec/xtail.sh
