[Unit]
Description       = tailing k8s logs

StopWhenUnneeded  = yes

BindsTo           = 1-k8s-container-wait@%i.service
After             = 1-k8s-container-wait@%i.service

[Service]
Type              = oneshot
ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes

EnvironmentFile   = %t/local/k8s-xtail/%I
LogExtraFields    = CONTAINER_NAME=%i
ExecStart         = tail --lines +1 --follow -- ${LOGFILE}

SuccessExitStatus = 15
