[Unit]
Description       = tailing k8s logs

StopWhenUnneeded  = yes

BindsTo           = 1-k8s-container-wait@%i.service
After             = 1-k8s-container-wait@%i.service

[Service]
ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes

EnvironmentFile   = %t/local/k8s-xtail/%I
ExecStart         = /usr/local/opt/k3s/libexec/ctail.sh ${LOGFILE}

SuccessExitStatus = 15
