[Match]
Name                    = cake-rx

[Link]
RequiredForOnline       = no

[Network]
ConfigureWithoutCarrier = yes

[CAKE]
Handle                  = ffff
NAT                     = yes
FlowIsolationMode       = dual-dst-host
PriorityQueueingPreset  = besteffort
Wash                    = yes
RTTSec                  = 10ms
