[[Match]]
Name                               = m5_assert([ENV_WAN_IF])

[[Network]]
ConfigureWithoutCarrier            = yes

LinkLocalAddressing                = yes
IPv6LinkLocalAddressGenerationMode = random

DHCP                               = yes
IPv6AcceptRA                       = yes
DHCPPrefixDelegation               = yes


MulticastDNS                       = no
DNSOverTLS                         = opportunistic

[[DHCPv4]]
Anonymize                          = yes
UseHostname                        = no
UseSIP                             = no

[[DHCPv6]]
WithoutRA                          = solicit
UseDelegatedPrefix                 = yes

# TODO: remove this in systemd 250
ForceDHCPv6PDOtherInformation      = yes

[[IPv6AcceptRA]]
DHCPv6Client                       = always
Token                              = static:::69:420:420:69

[[DHCPPrefixDelegation]]
UplinkInterface                    = :self
Token                              = static:::69:420:420:69

# [[CAKE]]
# TODO: re-enable on newer systemd
# NAT                                = yes
# FlowIsolationMode                  = dual-src-host
# PriorityQueueingPreset             = diffserv4
# Wash                               = yes
