[[Match]]
Name                               = m5_assert([ENV_WAN_IF])

[[Network]]
ConfigureWithoutCarrier            = yes

LinkLocalAddressing                = yes
IPv6LinkLocalAddressGenerationMode = random

DHCP                               = yes
IPv6AcceptRA                       = yes
# TODO: systemd 250 -> DHCPPrefixDelegation
DHCPv6PrefixDelegation             = yes
# TODO: systemd 250, move under `[[IPv6AcceptRA]]`
IPv6Token                          = static:::69:420:420:69

MulticastDNS                       = no
DNSOverTLS                         = opportunistic

[[DHCPv4]]
Anonymize                          = yes
UseHostname                        = no
UseSIP                             = no

[[DHCPv6]]
WithoutRA                          = solicit
# TODO: this is deprecated in systemd 250 -> UseDelegatedPrefix is replacement
ForceDHCPv6PDOtherInformation      = yes
UseDelegatedPrefix                 = yes
# TODO: maybe only for rogers?
PrefixDelegationHint               = ::/56

[[IPv6AcceptRA]]
DHCPv6Client                       = always

# TODO: systemd 250
# [[DHCPPrefixDelegation]]
# Token                              = static:::69:420:420:69
# UplinkInterface                    = :self

# [CAKE]
# TODO: re-enable on newer systemd
# NAT                                = yes
# FlowIsolationMode                  = dual-src-host
# PriorityQueueingPreset             = diffserv4
# Wash                               = yes
