[Match]
Name                   = cake-rx

[Link]
RequiredForOnline      = no

[QDisc]
Parent                 = ingress

[CAKE]
Parent                 = ingress
Handle                 = ffff
NAT                    = yes
FlowIsolationMode      = dual-dst-host
PriorityQueueingPreset = besteffort
Wash                   = yes
