[Match]
Name                    = vtor
Driver                  = bridge

[Link]
RequiredForOnline       = no

[Network]
ConfigureWithoutCarrier = yes
LinkLocalAddressing     = yes

Address                 = 0:0:0:0:0:0:0:0/64

Domains                 = ~onion ~exit
DNS                     = 127.0.0.53:3535
