map $pid $x_fourfourthree {
  default "freenas.enp2s0.m5_assert([ENV_MACHINE]).home.arpa:443";
}

server {
  listen         [[::]]:443 ipv6only=off;
  proxy_pass     $x_fourfourthree;
  proxy_protocol on;
}