---
services:
  stirling-pdf:
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
    labels:
      kompose.controller.type: statefulset
      kompose.service.expose: pdf.${DOMAIN}
    environment:
      DOCKER_ENABLE_SECURITY: false
      INSTALL_BOOK_AND_ADVANCED_HTML_OPS: false
      LANGS: en_GB
    ports:
      - 8080
    volumes:
      - configs:/configs
      - data:/usr/share/tessdata
      - logs:/logs

volumes:
  configs:
  data:
  logs:
