[Unit]
Description      = IPv4 alloc -- %t/local/ipv4/%I
StopWhenUnneeded = yes

BindsTo          = systemd-networkd.service
After            = systemd-networkd.service

After            = systemd-tmpfiles-setup.service

[Service]
Type             = oneshot
RemainAfterExit  = yes
Restart          = on-failure

ProtectSystem    = strict
PrivateTmp       = yes
ReadWritePaths   = %t %T

Environment      = LOCK=%t/local/ipv4
Environment      = IFACE=%I
Environment      = IPV4_PREFIX=20

EnvironmentFile  = -/usr/local/etc/default/%I.ip-alloc.env

ExecStart        = /usr/local/lib/network/libexec/ipalloc.sh ${LOCK} ${IFACE} ${IPV4_PREFIX}
ExecStopPost     = flock -- ${LOCK} rm -v -fr -- ${LOCK}/${IFACE}
