---
# https://github.com/iv-org/invidious/blob/master/config/config.example.yml
check_tables: true
db:
  host: pg
  port: 5432
  dbname: &stack kompsed-invidious
  user: *stack
  password: *stack
# signature_server: invidious-sig-helper:12999
invidious_companion:
  - private_url: http://invidious-companion:8282/companion
    public_url: https://yoku.m5_assert([ENV_DOMAIN])/companion
invidious_companion_key: m4_substr(m5_assert([ENV_RAND_HEX]), 0, 16)

domain: youku.m5_assert([ENV_DOMAIN])
external_port: 443
https_only: true
statistics_enabled: true

login_enabled: false
registration_enabled: false

channel_threads: m5_assert([ENV_NPROC])
feed_threads: m5_assert([ENV_NPROC])

default_user_preferences:
  # local: true
  # quality: dash
  autoplay: true
  continue: true
  default_home: Trending
  region: CA
  related_videos: true
  save_player_pos: true
  unseen_only: true
  comments:
    - youtube
    - reddit

http_proxy:
  host: proxy.kompsed-hostproxy.svc.cluster.local
  password:
  port: 1080
  user:

hmac_key: m5_assert([ENV_RAND_HEX])
