[Unit]
Description    = Certbot renew -- %i

[Service]
Type           = oneshot
Restart        = on-failure
ProtectSystem  = strict
PrivateTmp     = yes
ReadWritePaths = %T %C/local

Environment    = DOMAIN=%I
Environment    = WD=%C/local/certbot
Environment    = CONF=%C/local/certbot/conf
Environment    = LOGS=%C/local/certbot/logs

ExecStartPre   = mkdir -v --parents -- %C/local/certbot %C/local/certbot/nginx
ExecStart      = /usr/local/venv/certbot/bin/certbot certonly \
                   --non-interactive --agree-tos \
                   --work-dir %T \
                   --config-dir ${CONF} \
                   --logs-dir ${LOGS} \
                   --email certbot+%H@${DOMAIN} \
                   --expand \
                   --domains ${DOMAIN} \
                   --dns-cloudflare \
                   --dns-cloudflare-credentials /usr/local/etc/default/${DOMAIN}.certbot.env
ExecStart      = /usr/local/libexec/envsubst2.sh /usr/local/opt/certbot/certbot.nginx %C/local/certbot/nginx/${DOMAIN}.conf
