[[Unit]]
Description         = Bing Wallpapers Service
After               = network-online.target
RequiresMountsFor   = /media
ConditionPathExists = /usr/local/opt/bing/libexec/pull.sh

[[Service]]
Type                = oneshot

ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
ReadWritePaths      = %T %V /media/ENV_FS_WALLPAPER

Environment         = DIR=/media/ENV_FS_WALLPAPER
ExecStart           = /usr/local/opt/bing/libexec/pull.sh ${DIR}
