[Unit]
Description              = Rclone Mirror Service
RequiresMountsFor        = /media

[Service]
Type                     = oneshot
Restart                  = on-failure
ProtectSystem            = strict
ProtectHome              = yes
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

ExecStart                = true
