[Unit]
Description    = Rclone Update
After          = network-online.target

[Service]
Type           = oneshot
Restart        = on-failure
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
ReadWritePaths = %T %V /usr/local/libexec

ExecStart      = /usr/local/libexec/rclone selfupdate
