[Unit]
Description   = Rclone Update
Conflicts     = 0-rclone-backup.service

[Service]
Restart       = on-failure
ProtectSystem = strict
ProtectHome   = yes
PrivateTmp    = yes

ExecStart     = /usr/local/opt/rclone/libexec/update.sh %V/local
