[Unit]
Description         = Rclone Update
After               = network-online.target
ConditionPathExists = /usr/local/libexec/rclone

[Service]
Type                = oneshot
Restart             = on-failure
ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
ReadWritePaths      = %T %V /usr/local/libexec

ExecStart           = /usr/local/libexec/rclone selfupdate
