[Unit]
BindsTo              = 1-wg-netns@qbt.service
After                = 1-wg-netns@qbt.service

Wants                = 1-netns-proxy-9091@qbt.socket

RequiresMountsFor    = %S/local/%J

[Service]
Restart              = on-failure
RestartSec           = 9
ProtectSystem        = strict
ProtectHome          = yes
BindReadOnlyPaths    = %E/netns/qbt/resolv.conf:%E/resolv.conf
ReadWritePaths       = %T %V /media/downloads
StateDirectory       = local/%J

NetworkNamespacePath = %t/netns/qbt
TimeoutStopSec       = 6s

User                 = %I
Group                = %I

Environment          = TRANSMISSION_HOME=%S/local/%J
Environment          = DOWNLOAD_DIR=/media/downloads/done
Environment          = INCOMPLETE_DIR=/media/downloads/pending

ExecStartPre         = mkdir -v -p -- ${DOWNLOAD_DIR} ${INCOMPLETE_DIR}
ExecStartPre         = /usr/local/opt/transmission/libexec/rpc-white-list.sh ${TRANSMISSION_HOME}/settings.json
ExecStart            = transmission-daemon \
                         --foreground \
                         --no-auth \
                         --no-portmap \
                         --encryption-preferred \
                         --no-watch-dir \
                         --log-level info \
                         --config-dir ${TRANSMISSION_HOME} \
                         --incomplete-dir ${INCOMPLETE_DIR} \
                         --download-dir ${DOWNLOAD_DIR}
