[Unit]
Description          = NetNS Proxy -- %I:%j

BindsTo              = 1-netns@%i.service
After                = 1-netns@%i.service

BindsTo              = %N.socket
After                = %N.socket

[Service]
Restart              = on-failure

ProtectSystem        = strict
ProtectHome          = yes
NetworkNamespacePath = %t/netns/%I

ExecStart            = /usr/lib/systemd/systemd-socket-proxyd -- localhost:%j
