[Unit]
Description              = Share -- /%I
RequiresMountsFor        = /%I

[Service]
Restart                  = on-failure
ProtectSystem            = strict
ReadWritePaths           = %t/local %T %V
RuntimeDirectory         = local/http-share
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

# TODO: rclone can listen on unix sockets on later versions
ExecStart                = rclone serve http --read-only --addr=127.0.0.53:8090 --baseurl=/share/%I -- /%I
