[Unit]
Description = Emergency Mount -- %f
Requires    = zfs-volume-wait.service
After       = zfs-volume-wait.service

# Need to disable iscsi sharing before mounting
[Mount]
Options     = sys_immutable,ro
Where       = %f
What        = /dev/zvol/pink/zvols/steam-part2
