location /traefik {
  return 307 /traefik/;
}

location /traefik/ {
  alias           /usr/local/opt/nginx/traefik/;
  sub_filter_once off;
  sub_filter      "@SCHEME" $scheme;
  sub_filter      "@HOST" $optimistic_host;
}

location /api {
  proxy_pass http://127.0.0.1:9000;
}

location /dashboard {
  proxy_pass http://127.0.0.1:9000;
}