[Unit]
Description        = Btrfs Defragment Timer

[Timer]
Unit               = 0-btrfs-defrag@%i.service
Persistent         = true
OnCalendar         = weekly
RandomizedDelaySec = 2days
