[Unit]
Description           = Run btrbk
ConditionFileNotEmpty = /usr/local/opt/btrbk/main.conf

[Service]
Type                  = oneshot
ExecStart             = btrbk --config /usr/local/opt/btrbk/main.conf run
