[Unit]
Description     = Warp Monitor

[Service]
Restart         = on-failure
Type            = notify

ProtectSystem   = strict
ProtectHome     = yes
PrivateTmp      = yes

WatchdogSec     = 30s

EnvironmentFile = /usr/local/etc/default/warp-mon.env
Environment     = PROXY_URL=socks5://127.0.0.1:40000
Environment     = TEST_URI=
ExecStart       = /usr/local/opt/warp/libexec/monitor.sh ${PROXY_URL} ${TEST_URI}
