[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/_/postgres:13
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

HealthStartupCmd = '["pg_isready", "--dbname", "pdb", "--username", "username"]'

Environment      = POSTGRES_DB=pdb
Environment      = POSTGRES_USER=username
Environment      = POSTGRES_PASSWORD=password

Network          = %p.network
Network          = %p1.network

Volume           = %S/local/docker/%J:%S/postgresql/data

[Service]
Restart          = on-failure
ExecStartPost    = podman wait --condition healthy -- %J
