[Unit]
Description      = Miniflux -- %I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/_/postgres:13
AutoUpdate       = registry
RunInit          = yes

# HealthCmd     = pg_isready
PodmanArgs       = --health-cmd '["pg_isready", "--dbname", "pdb", "--username", "username"]'

Environment      = POSTGRES_DB=pdb
Environment      = POSTGRES_USER=username
Environment      = POSTGRES_PASSWORD=password

Network          = systemd-miniflux-internal

Volume           = <%= fs.docker_vol %>/miniflux:%S/postgresql/data

[Service]
Restart          = on-failure
