[[Unit]]
Description   = Podman -- %J

After         = network-online.target

[[Container]]
Image         = docker.io/msjpq/bing-daily-images:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

User          = 1000
Volume        = /media/m5_assert([ENV_FS_WALLPAPER]):/data

[[Service]]
Restart       = on-failure

[[Install]]
WantedBy      = default.target
