[[Unit]]
Description   = Podman -- %J

BindsTo       = 3-pm-traefik.service
After         = 3-pm-traefik.service

[[Container]]
Image         = docker.io/rclone/rclone:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+}.{.+$$}`)"

HealthCmd     = wget --no-verbose --tries=1 --spider --timeout=1 http://localhost:8080
Exec          = rcd --rc-web-gui --rc-no-auth --rc-addr=:8080 --dscp=LE

Network       = %p.network
Network       = 3-pm-traefik.network

# m5_for([VOL], [
Volume        = /media/VOL:/media/VOL:ro
# ], m5_assert([ENV_FS_RCLONE]))

[[Service]]
Restart       = on-failure
ExecStartPost = podman wait --condition healthy -- %J

[[Install]]
WantedBy      = 0-podman.target
