[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:13
ContainerName    = %J-%I
AutoUpdate       = registry

HealthCmd        = pg_isready --username username --dbname pdb

Environment      = POSTGRES_DB=pdb
Environment      = POSTGRES_USER=username
Environment      = POSTGRES_PASSWORD=password

Network          = %p1.network

Volume           = %S/local/docker/%J:%S/postgresql/data

[Service]
Restart          = on-failure
ExecStartPost    = podman wait --condition healthy -- %J-%I
