[Unit]
Description   = Podman -- %J

BindsTo       = podman.socket
After         = podman.socket

[Container]
Image         = docker.io/library/traefik:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+$$}.{.+$$}`)"

Network       = %p.network
Network       = 3-pm-ingress.network

PublishPort   = 127.0.0.53:8888:80
PublishPort   = 127.0.0.53:8181:8080

Volume        = %t/podman/podman.sock:/var/run/docker.sock:ro
Volume        = /usr/local/opt/%J:%E/traefik:ro
Volume        = %S/local/docker/%J:/acme

[Service]
Restart       = on-failure
ExecStartPre  = mkdir -v -p -- %S/local/docker/%J

[Install]
WantedBy      = 0-podman.target
