[[Unit]]
Description   = Podman -- %J

BindsTo       = 1-wg-netns@trans.service
After         = 1-wg-netns@trans.service

BindsTo       = 1-netns-proxy-9091@trans.socket
After         = 1-netns-proxy-9091@trans.socket

[[Container]]
Image         = lscr.io/linuxserver/transmission:latest
ContainerName = %J
AutoUpdate    = registry

Network       = ns:%t/netns/trans

Environment   = PGID=1000
Environment   = PUID=1000
Environment   = HOST_WHITELIST=

Volume        = %S/local/docker/%J:/config
Volume        = /media/m5_assert([ENV_FS_DOWNLOADS]):/downloads

[[Service]]
Restart       = on-failure

[[Install]]
WantedBy      = 0-podman.target
