[[Unit]]
Description   = Podman -- %J

[[Container]]
Image         = docker.io/rclone/rclone:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+}.{.+$$}`)"

Exec          = rcd --rc-web-gui --rc-no-auth --rc-addr=:8080 --dscp=LE

Network       = %p.network
Network       = 3-pm-traefik.network

# m5_for([VOL], [
Volume        = /media/VOL:/media/VOL:ro
# ], m5_assert([ENV_FS_RCLONE]))

[[Service]]
Restart       = on-failure

[[Install]]
WantedBy      = 0-podman.target
