[Unit]
Description = VNC gui container

[Container]
Image       = lscr.io/linuxserver/webtop:latest
AutoUpdate  = registry

Label       = traefik.enable=true
Label       = traefik.http.services.traefik.loadbalancer.server.port=3000
Label       = traefik.http.routers.traefik.rule=Host(`^%J\..+`)

Environment = PGID=1000
Environment = PUID=1000

AddDevice   = /dev/dri

Volume      = %S/local/docker/webtop:/config
Volume      = /media:/media

[Install]
WantedBy    = default.target
