[Unit]
Description   = Podman -- %J@%I

BindsTo       = %p@c.service
After         = %p@c.service
BindsTo       = %p@pg.service
After         = %p@pg.service

[Container]
Image         = docker.io/guacamole/guacamole:latest
ContainerName = %J-%I
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = traefik.http.routers.%J.rule=Host(`^%J\..+`)
Label         = traefik.http.routers.%J.middlewares=guac-auth,guac-redirect
Label         = 'traefik.http.middlewares.%J-auth.headers.customRequestHeaders.Authorization=Basic Z3VhY2FkbWluOmd1YWNhZG1pbg=='
Label         = 'traefik.http.middlewares.%J-redirect.redirectRegex.regex=(^https?://[^/]+/$$)'
Label         = 'traefik.http.middlewares.%J-redirect.redirectRegex.replacement=$${1}guacamole/'

Environment   = GUACD_HOSTNAME=%J-c
Environment   = POSTGRES_HOSTNAME=%J-db
Environment   = POSTGRES_DATABASE=pdb
Environment   = POSTGRES_USER=username
Environment   = POSTGRES_PASSWORD=password

Network       = %p.network
Network       = %p1.network
Network       = %p2.network
Network       = 3-pm-traefik.network

[Service]
Restart       = on-failure

[Install]
WantedBy      = default.target
