[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/guacamole/guacd:latest
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

Network          = %p1.network

[Service]
Restart          = on-failure
