[Unit]
Description = VNC gui container

BindsTo     = 6-pm-proxy-%j@3000.socket
After       = 6-pm-proxy-%j@3000.socket

[Container]
Image       = lscr.io/linuxserver/webtop:latest
AutoUpdate  = registry

Environment = PGID=1000
Environment = PUID=1000

AddDevice   = /dev/dri

Volume      = %S/local/docker/webtop:/config
Volume      = /media:/media
