[[Unit]]
Description   = Podman -- %J

[[Container]]
Image         = lscr.io/linuxserver/plex:latest
ContainerName = %J
AutoUpdate    = registry

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=32400
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+$$}.{.+$$}`)"

Volume        = %S/local/docker/plex:/config
Volume        = %V/local/plex:/transcode

Volume        = /media/m5_assert([ENV_FS_DOWNLOADS])/done:/media/downloads:ro
Volume        = /media/m5_assert([ENV_FS_MOVIES]):/media/movies:ro
Volume        = /media/m5_assert([ENV_FS_TV]):/media/tv:ro
Volume        = /media/m5_assert([ENV_FS_NTFS]):/media/ntfs:ro

[[Service]]
ExecStartPre  = mkdir -v -p -- %V/local/plex
Restart       = on-failure

[[Install]]
WantedBy      = 0-podman.target
