[[Unit]]
Description   = Podman -- %J

[[Container]]
Image         = ghcr.io/alexta69/metube:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

User          = 1000
Group         = 1000

HealthCmd     = curl --fail --no-progress-meter --max-time 1 -- localhost:8081

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8081
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+$$}.{.+$$}`)"

Network       = %p.network
Network       = 3-pm-traefik.network

Volume        = /media/m5_assert([ENV_FS_DOWNLOADS])/youtube:/downloads

[[Service]]
Restart       = on-failure
ExecStartPre  = mkdir -p -- /media/m5_assert([ENV_FS_DOWNLOADS])/youtube
ExecStartPost = podman wait --condition healthy -- %J

[[Install]]
WantedBy      = 0-podman.target
