[Unit]
Description      = Netman -- %J
StopWhenUnneeded = yes

[Network]
Internal         = yes
IPv6             = yes

[Service]
ExecStop         = podman network rm --force -- systemd-%J
