[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:16
ContainerName    = %J-%I
AutoUpdate       = registry

Environment      = POSTGRES_USER=postgres
Environment      = POSTGRES_PASSWORD=postgres
Environment      = POSTGRES_DB=postgres

Network          = %p1.network

Volume           = %S/local/%J:%S/postgresql/data

[Service]
Restart          = on-failure
ExecStartPost    = /usr/local/libexec/retry.sh 0.5 podman exec -- %J-%I pg_isready --username postgres --dbname postgres
