[Unit]
Description   = Podman -- %J@%I

BindsTo       = %p@pg.service
After         = %p@pg.service

[Container]
Image         = ghcr.io/miniflux/miniflux:latest
ContainerName = %J-%I
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+$$}.{.+$$}`)"

Environment   = RUN_MIGRATIONS=1
Environment   = DATABASE_URL=postgres://username:password@%J-pg/pdb?sslmode=disable
Environment   = PROXY_IMAGES=all
Environment   = CREATE_ADMIN=1
Environment   = ADMIN_USERNAME=1
Environment   = ADMIN_PASSWORD=123456

Network       = %p.network
Network       = %p1.network
Network       = 3-pm-traefik.network

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
