[Unit]
Description      = Netman -- %J
StopWhenUnneeded = yes

[Network]
IPv6             = yes

[Service]
ExecStop         = /usr/local/opt/podman/libexec/execstop-network.sh %N
