[[Unit]]
Description       = Podman -- %J
RequiresMountsFor = /media/m5_assert([ENV_FS_NTFS])

After             = network-online.target

[[Container]]
Image             = lscr.io/linuxserver/plex:latest
ContainerName     = %J
AutoUpdate        = registry

Network           = host

Volume            = %S/local/docker/plex:/config
Volume            = %V/local/plex:/transcode

Volume            = /media/m5_assert([ENV_FS_DOWNLOADS])/done:/media/downloads:ro
Volume            = /media/m5_assert([ENV_FS_MOVIES]):/media/movies:ro
Volume            = /media/m5_assert([ENV_FS_TV]):/media/tv:ro
Volume            = /media/m5_assert([ENV_FS_NTFS]):/media/ntfs:ro

[[Service]]
ExecStartPre      = mkdir -v -p -- %V/local/plex
Restart           = on-failure

[[Install]]
WantedBy          = default.target
