[Unit]
Description   = Podman -- %J

[Container]
Image         = lscr.io/linuxserver/webtop:latest
ContainerName = %J
AutoUpdate    = registry

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=3000
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+$$}`) || HostRegexp(`%J.{.+$$}.{.+$$}`)"

Environment   = PGID=1000
Environment   = PUID=1000

AddDevice     = /dev/dri

Network       = 3-pm-traefik.network

Volume        = %S/local/docker/%J:/config
Volume        = /media:/media

[Install]
WantedBy      = 0-podman.target
