[Unit]
Description   = Smartd analyzer

[Container]
Image         = ghcr.io/analogj/scrutiny:master-omnibus
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.traefik.loadbalancer.server.port=8080
Label         = traefik.http.routers.traefik.rule=Host(`^%J\..+`)

AddCapability = SYS_RAWIO

Volume        = %t/udev:/run/udev:ro
Volume        = %S/local/docker/scrutiny/config:/opt/scrutiny/config
Volume        = %S/local/docker/scrutiny/db:/opt/scrutiny/influxdb

AddDevice     = /dev/sda
AddDevice     = /dev/sdb
AddDevice     = /dev/sdc
AddDevice     = /dev/sdd
AddDevice     = /dev/sde
AddDevice     = /dev/sdf
AddDevice     = /dev/sdg
AddDevice     = /dev/sdh
AddDevice     = /dev/sdi
AddDevice     = /dev/sdj
AddDevice     = /dev/sdk

[Service]
Restart       = on-failure

[Install]
WantedBy      = default.target
