[Unit]
Description   = Podman -- %J

After         = network-online.target

[Container]
Image         = ghcr.io/analogj/scrutiny:master-omnibus
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = traefik.http.routers.%J.rule=Host(`^%J\\..+`)

AddCapability = SYS_RAWIO

AddDevice     = /dev/sda
AddDevice     = /dev/sdb
AddDevice     = /dev/sdc
AddDevice     = /dev/sdd
AddDevice     = /dev/sde
AddDevice     = /dev/sdf
AddDevice     = /dev/sdg
AddDevice     = /dev/sdh
AddDevice     = /dev/sdi
AddDevice     = /dev/sdj
AddDevice     = /dev/sdk

Network       = 3-pm-traefik.network

Volume        = %t/udev:/run/udev:ro
Volume        = %S/local/docker/%J/config:/opt/scrutiny/config
Volume        = %S/local/docker/%J/db:/opt/scrutiny/influxdb

[Service]
Restart       = on-failure

[Install]
WantedBy      = default.target
