[Unit]
Description   = Podman -- %J@%I

[Container]
Image         = lscr.io/linuxserver/ddclient:latest
ContainerName = %J-%I
AutoUpdate    = registry

# Network     = host
Volume        = /usr/local/opt/%J/%I:/config/config

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
