[Unit]
Description      = Netman -- %J
StopWhenUnneeded = yes

[Network]
Internal         = yes

[Service]
ExecStopPost     = podman network rm --force -- systemd-%p
