[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:16
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

User             = 1000
Group            = 1000
HealthCmd        = pg_isready --username postgres --dbname postgres

Environment      = POSTGRES_USER=postgres
Environment      = POSTGRES_PASSWORD=postgres
Environment      = POSTGRES_DB=postgres

Network          = %p1.network

Volume           = %S/local/%J:%S/postgresql/data

[Service]
Restart          = on-failure
ExecStartPost    = podman wait --condition healthy -- %J-%I
