[Unit]
Description   = Podman -- %J@%I

[Container]
Image         = lscr.io/linuxserver/ddclient:latest
ContainerName = %J-%I
AutoUpdate    = registry

# Network     = host
Volume        = /usr/local/opt/ddclient/%I:/config

[Service]
Restart       = on-failure

[Install]
WantedBy      = default.target
