map $sent_http_content_security_policy $x_content_security_policy {
  ""      "default-src 'self' data: 'unsafe-inline' 'unsafe-eval'; img-src *; media-src *;";
  default "";
}

map $sent_http_x_frame_options $x_frame_options {
  ""      "SAMEORIGIN";
  default "";
}

map $sent_http_x_content_type_options $x_content_type_options {
  ""      "nosniff";
  default "";
}

add_header Content-Security-Policy $x_content_security_policy always;
add_header X-Frame-Options $x_frame_options always;
add_header X-Content-Type-Options $x_content_type_options always;
