---
services:
  archivebox:
    image: ghcr.io/archivebox/archivebox:latest
    labels:
      kompose.controller.type: statefulset
      kompose.service.expose: archive.${DOMAIN}
    environment:
      ADMIN_PASSWORD: None
      ADMIN_USERNAME: None
      ALLOWED_HOSTS: "*"
      HTTP_PROXY: http://proxy.kompsed-hostproxy.svc.cluster.local:1080
      MEDIA_MAX_SIZE: 50m
      PGID: 1000
      PUBLIC_ADD_VIEW: True
      PUID: 1000
      SAVE_PDF: False
      SAVE_SCREENSHOT: False
      TIMEOUT: 600
    command:
      - server
      - --quick-init
      - 0.0.0.0:8000
    volumes:
      - /var/lib/local/${COMPOSE_PROJECT_NAME}:/data
