map $x_ssh_detect $x_http_upstream {
  "ssh"   localhost:22;
  default localhost:1194;
}

server {
  js_path    "/usr/local/opt/nginx/njs";
  js_import  ssh from ssh_proxy.js;
  js_var     $x_ssh_detect;
  listen     [::]:80 ipv6only=off reuseport;
  js_preread ssh.detect;
  proxy_pass $x_http_upstream;
}