[Unit]
Description    = IRSSI IRClient
After          = znc.service

[Service]
Restart        = always
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
ReadWritePaths = %t/local %T %V %S/local/%J

Environment    = TERM=xterm-256color
Environment    = HOME=%S/local/%J
Environment    = HOSTNAME=%H
Environment    = DSOCKET=%t/local/%J.sock

ExecStartPre   = mkdir -v -p -- ${HOME}
ExecStart      = dtach -N ${DSOCKET} %J --hostname ${HOSTNAME} --home ${HOME}
ExecStopPost   = rm -fr -- ${DSOCKET}
