[Unit]
Description       = Weechat IRClient
BindsTo           = znc.service
After             = znc.service

RequiresMountsFor = %S/local/%J

[Service]
Restart           = always
ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes
RuntimeDirectory  = local/%J
ReadWritePaths    = %t/local/%J %T %V %S/local/%J

ExecStart         = /usr/local/opt/weechat/libexec/wee.sh
TimeoutStopSec    = 1s
