pid                     /run/local/webdav/${RW}/nginx.pid;
user                    www-data;
error_log               stderr;
worker_processes        auto;
worker_shutdown_timeout 28d;
include                 /etc/nginx/modules-enabled/*.conf;

events {
}

http {
  include /usr/local/opt/nginx/conf/http.nginx;

  server {
    listen unix:/run/local/webdav/${RW}/index.sock;
    root   /run/local/webdav/${RW}/root;

    location / {
      # fancyindex_case_sensitive off;
      create_full_put_path     on;
      fancyindex               on;
      fancyindex_ignore        "\\." "\\.\\.";
      fancyindex_show_dotfiles on;
      fancyindex_time_format   "%Y-%m-%d %H:%M";
      dav_methods              PUT DELETE MKCOL COPY MOVE;
      dav_ext_methods          PROPFIND OPTIONS LOCK UNLOCK;
      min_delete_depth         1;
    }
  }
}