pid                     /run/local/webdav/${RW}/nginx.pid;
user                    www-data;
error_log               stderr;
worker_processes        auto;
worker_shutdown_timeout 28d;
include                 /etc/nginx/modules-enabled/*.conf;

events {
}

http {
  include /usr/local/opt/nginx/conf/http.nginx;

  server {
    listen unix:/run/local/webdav/${RW}/index.sock;
    root   /run/local/webdav/${RW}/root;

    location / {
      autoindex on;
    }
  }
}