[Unit]
CollectMode      = inactive-or-failed

[Service]
ProtectSystem    = strict
RuntimeDirectory = local/qemu/%I
ReadWritePaths   = %V

ExecStartPre     =
ExecStart        = /usr/local/opt/qemu/libexec/%J.sh %I
