[Unit]
Description      = MACVtap Interface -- %I
StopWhenUnneeded = yes

BindsTo          = systemd-networkd.service
After            = systemd-networkd.service

[Service]
Type             = oneshot
RemainAfterExit  = yes
Restart          = on-failure

ProtectSystem    = strict
PrivateTmp       = yes
ReadWritePaths   = %t/systemd %T

EnvironmentFile  = -/usr/local/etc/default/%I.%J.env

Environment      = IFACE=%I
Environment      = NETDEV=%t/systemd/network/0-%I.netdev

ExecStart        = /usr/local/libexec/envsubst2.sh /usr/local/opt/network/macvtap@.netdev ${NETDEV}
ExecStart        = networkctl reload
ExecStart        = networkctl reconfigure -- ${IFACE}

ExecStopPost     = rm -v --recursive --force -- ${NETDEV}
ExecStopPost     = -networkctl delete -- ${IFACE}
