[[Unit]]
Description      = Macvtap -- %I
StopWhenUnneeded = yes
CollectMode      = inactive

BindsTo          = systemd-networkd.service
After            = systemd-networkd.service

[[Service]]
Type             = oneshot
RemainAfterExit  = yes

ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %t/systemd %T

EnvironmentFile  = -/usr/local/etc/default/%I.%J.env

Environment      = IFACE=%I
Environment      = LINK=m5_argn(1, m5_assert([ENV_MACVLAN_IFS]))

ExecStartPre     = -ip link del dev ${IFACE}
ExecStart        = ip link add link ${LINK} name ${IFACE} type macvtap mode bridge
ExecStart        = ip link set ${IFACE} up
ExecStop         = -ip link del dev ${IFACE}
