[[Unit]]
Description      = Macvtap -- %I
StopWhenUnneeded = yes
CollectMode      = inactive

BindsTo          = systemd-networkd.service
After            = systemd-networkd.service

[[Service]]
Type             = oneshot
RemainAfterExit  = yes

ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
ReadWritePaths   = %t/systemd %T

EnvironmentFile  = -/usr/local/etc/default/%I.%J.env

Environment      = IFACE=%I

ExecStartPre     = -/usr/local/libexec/hr-run.sh ip link del dev ${IFACE}
ExecStart        = /usr/local/libexec/hr-run.sh ip link add link m5_assert([ENV_MACVLAN_IFS]) name ${IFACE} type macvtap mode bridge
ExecStart        = /usr/local/libexec/hr-run.sh ip link set ${IFACE} up
ExecStop         = -/usr/local/libexec/hr-run.sh ip link del dev ${IFACE}
