[Unit]
Description         = systemd.prepawn -- %I
StopWhenUnneeded    = yes
CollectMode         = inactive
ConditionPathExists = !%S/local/qemu/%I/fs/raw

Requires            = 2-fs-alloc-qemu@%i.service
After               = 2-fs-alloc-qemu@%i.service

PartOf              = 2-qemu-microvm@%i.service

[Service]
Type                = oneshot
RemainAfterExit     = yes

Environment         = SRC=%C/local/qemu/cloud.img/raw
Environment         = DST=%S/local/qemu/%I/fs

ExecStart           = /usr/local/opt/qemu/libexec/systemd-pmspawn@.sh ${SRC} ${DST}
