[Unit]
CollectMode      = inactive-or-failed

BindsTo          = 0-swtpm@%i.service


[Service]
ProtectSystem    = strict
RuntimeDirectory = local/qemu/%I
ReadWritePaths   = %V/local

ExecStartPre     =
ExecStart        = /usr/local/opt/qemu/libexec/%J.sh %I
