[[Unit]]
Description         = Qemu -- %N

ConditionPathExists = %S/local/qemu/%I/fs/raw

BindsTo             = 1-vb@v\x2d%i.service
After               = 1-vb@v\x2d%i.service

BindsTo             = dnsmasq@v\x2d%i.service

Wants               = 2-pemu-%j@%i.service
After               = 2-pemu-%j@%i.service

# m4_ifelse(m5_argn(1, m5_assert([ENV_MACVLAN_IFS])), [], [], [
BindsTo             = 1-mv@m\x2d%i.service
After               = 1-mv@m\x2d%i.service
# ])

PartOf              = machine.slice

[[Service]]
Slice               = machine.slice
Type                = forking
PIDFile             = %t/local/qemu/%I/qemu.pid
Restart             = on-failure

ProtectSystem       = strict
ProtectHome         = tmpfs
PrivateTmp          = yes
RuntimeDirectory    = local/qemu/%I local/dnsmasq/v-%I/conf.d local/dnsmasq/v-%I/hosts.d
CacheDirectory      = local
StateDirectory      = local
ReadWritePaths      = %t %T
BindReadOnlyPaths   = -%h/.ssh:%h/.ssh
BindReadOnlyPaths   = /usr/local/opt/qemu/etc:%E/qemu

EnvironmentFile     = %t/local/ip/v-%I.env
EnvironmentFile     = -%S/local/qemu/%I/qemu.env

Environment         = MACHINE=%i
Environment         = FS=%S/local/qemu
Environment         = ROOT=%S/local/qemu/%I
Environment         = DNSMAQ_CONF=%t/local/dnsmasq/v-%I/conf.d
Environment         = HOSTS=%t/local/dnsmasq/v-%I/hosts.d
Environment         = DOMAIN=v-%I.%H.home.arpa

Environment         = CPU=
Environment         = MEMORY=8G
Environment         = QMP=%t/local/qemu/%I/qmp.sock
Environment         = MONITOR=%t/local/qemu/%I/mon.sock
Environment         = CONSOLE=%t/local/qemu/%I/con.sock
Environment         = BRIDGE=v-%I
Environment         = KERNEL=/opt/img/vmlinuz-%w
Environment         = INITRD=/opt/img/initrd-%w

Environment         = MACVTAP=m4_ifelse(m5_argn(1, m5_assert([ENV_MACVLAN_IFS])), [], [], [m-%I])

Environment         = DRIVE=%S/local/qemu/%I/fs/raw
Environment         = ROOT_DEV=/dev/vda1
Environment         = CLOUD_INIT=%V/cloud-init.iso

Environment         = RAW=%C/local/qemu/cloudimg.raw
Environment         = HOSTNAME=%H

ExecStartPre        = /usr/local/opt/qemu/libexec/cloud-init.sh ${MACHINE} ${CLOUD_INIT}
ExecStartPost       = /usr/local/opt/qemu/libexec/nss.sh ${MACHINE} ${DNSMAQ_CONF} ${HOSTS} ${DOMAIN}

ExecStartPre        = touch -- "${ROOT}/.#fs.lck"
ExecStopPost        = rm -v -rf -- "${ROOT}/.#fs.lck"

ExecStart           = /usr/local/opt/qemu/bin/%J.sh m4_ifelse(m5_argn(1, m5_assert([ENV_MACVLAN_IFS])), [], [], [--macvtap ${MACVTAP}]) \
                      --name ${MACHINE} \
                      --cpu ${CPU} \
                      --mem ${MEMORY} \
                      --qmp ${QMP} \
                      --monitor ${MONITOR} \
                      --console ${CONSOLE} \
                      --bridge ${BRIDGE} \
                      --kernel ${KERNEL} \
                      --initrd ${INITRD} \
                      --drive ${DRIVE} \
                      --root ${ROOT_DEV} \
                      --drive ${CLOUD_INIT} \
                      $ARGV

ExecReload          = /usr/local/bin/vmctl.sh monitor %I system_reset
ExecStop            = /usr/local/opt/qemu/libexec/hospice.sh 55 /usr/local/bin/vmctl.sh monitor %I system_powerdown

SuccessExitStatus   = SIGTERM
