[Unit]
Description       = Qemu -- %N
RequiresMountsFor = %S/local/qemu %S/local/qemu/%I

BindsTo           = 1-vn@qemu.service
After             = 1-vn@qemu.service

BindsTo           = dnsmasq@qemu.service
After             = dnsmasq@qemu.service

[Service]
ProtectSystem     = strict
ProtectHome       = tmpfs
RuntimeDirectory  = local/qemu/%I
ReadWritePaths    = %t %T %S/local %C/local
BindReadOnlyPaths = -%h/.ssh:%h/.ssh
BindReadOnlyPaths = /usr/local/opt/qemu/etc:%E/qemu
PrivateTmp        = yes

EnvironmentFile   = -/usr/local/etc/default/%I.qemu.env
Environment       = MACHINE=%i
Environment       = CPU=
Environment       = MEMORY=8G
Environment       = QMP=%t/local/qemu/%I/qmp.sock
Environment       = MONITOR=%t/local/qemu/%I/mon.sock
Environment       = CONSOLE=%t/local/qemu/%I/con.sock
Environment       = BRIDGE=qemu
Environment       = KERNEL=%C/local/qemu/vmlinuz
Environment       = INITRD=%C/local/qemu/initrd
Environment       = ROOT=/dev/vda1
Environment       = DRIVE_ROOT=%S/local/qemu/%I
Environment       = DRIVE=%S/local/qemu/%I/fs.raw
Environment       = CLOUD_INIT=%V/cloud-init.iso

ExecStartPre      = /usr/local/opt/qemu/libexec/preinux.sh %S/local/qemu ${MACHINE} ${DRIVE_ROOT} ${DRIVE}
ExecStartPre      = /usr/local/opt/qemu/libexec/cloud-init.sh %I ${CLOUD_INIT}

ExecStartPre      = touch -- ${DRIVE_ROOT}/.live
ExecStopPost      = rm -v -rf -- ${DRIVE_ROOT}/.live

ExecStart         = /usr/local/opt/qemu/libexec/%J@.sh \
                      --cpu ${CPU} \
                      --mem ${MEMORY} \
                      --qmp ${QMP} \
                      --monitor ${MONITOR} \
                      --console ${CONSOLE} \
                      --bridge ${BRIDGE} \
                      --kernel ${KERNEL} \
                      --initrd ${INITRD} \
                      --drive ${DRIVE} \
                      --root ${ROOT} \
                      --drive ${CLOUD_INIT}
