[Unit]
CollectMode      = inactive-or-failed

BindsTo          = 2-swtpm@%i.service
After            = 2-swtpm@%i.service

[Service]
ProtectSystem    = strict
RuntimeDirectory = local/qemu/%I
ReadWritePaths   = %V/local

ExecStart        = /usr/local/opt/qemu/libexec/%J.sh %I %t/local/qemu/%I
