[Unit]
Description      = QEMU -- %I
StopWhenUnneeded = yes
CollectMode      = inactive-or-failed

BindsTo          = 2-swtpm@%i.service
After            = 2-swtpm@%i.service
BindsTo          = 2-websock-proxy@.socket
After            = 2-websock-proxy@.socket

[Service]
ProtectSystem    = strict
RuntimeDirectory = local/qemu
ReadWritePaths   = %C/local

ExecStart        = /usr/local/opt/qemu/libexec/%J.sh %I %t/local/qemu
