[Unit]
Description      = SWTPM -- %t/local/swtpm/%I
StopWhenUnneeded = yes
CollectMode      = inactive-or-failed

[Service]
ProtectSystem    = strict
RuntimeDirectory = local/swtpm/%I

Environment      = TPM_PATH=%t/local/swtpm/%I
Environment      = TPM_CTRL=%t/local/swtpm/%I/ctl.sock
Environment      = TPM_SOCK=%t/local/swtpm/%I/tpm.sock

ExecStart        = swtpm --ctrl type=unixio,path=${TPM_CTRL} --server type=unixio,path=${TPM_SOCK}
