[Unit]
Description     = SWTPM -- %t/libvirt/qemu/swtpm/%I.service

BindsTo         = %N.socket
After           = %N.socket

[Service]
Slice           = machine.slice
ProtectSystem   = strict
ProtectHome     = yes
PrivateTmp      = yes
ReadWritePaths  = %T

User            = swtpm
Group           = swtpm

AppArmorProfile = unconfined
Environment     = TPM_PATH=%T/%I

ExecStartPre    = mkdir -v -p -- ${TPM_PATH}
# ExecStartPre   = swtpm_setup --tpm-state ${TPM_PATH} --tpm2 --create-platform-cert --display
ExecStart       = swtpm socket --tpmstate dir=${TPM_PATH} --ctrl type=unixio,fd=3 --tpm2
