[Unit]
Description         = Proxy qemu display socket -- %t/local/vnc/%I.sock
ConditionPathExists = %t/local/qemu/%I/vnc.sock

[Socket]
RemoveOnStop        = yes
ListenStream        = %t/local/vnc/%I.sock
