[Unit]
Description    = Websockify qemu display -- %i

BindsTo        = 2-qemu-q35@%i.service
After          = 2-qemu-q35@%i.service
PartOf         = 2-websock-proxy@%i.service

[Service]
Restart        = on-failure
ProtectSystem  = strict
ProtectHome    = yes
PrivateNetwork = yes
PrivateTmp     = yes

Environment    = SOCK=%t/local/qemu/%I/vnc.sock

ExecStart      = websockify --web /tmp --heartbeat 1 --unix-target ${SOCK} -- [::]:8080
ExecStartPost  = /usr/local/libexec/retry.sh 0.1 curl --fail --location --no-progress-meter --max-time 1 --output /dev/null -- localhost:8080
