[Unit]
Description  = Proxy qemu display socket -- %t/local/vnc/%I.sock
PartOf       = machine.slice

[Socket]
RemoveOnStop = yes
ListenStream = %t/local/vnc/%I.sock
