[Unit]
Description      = Proxy qemu display -- %i
StopWhenUnneeded = yes
CollectMode      = inactive-or-failed

BindsTo          = %N.socket
After            = %N.socket

BindsTo          = 2-websock-display@%i.service
After            = 2-websock-display@%i.service
JoinsNamespaceOf = 2-websock-display@%i.service

[Service]
Restart          = on-failure
ProtectSystem    = strict
PrivateNetwork   = yes

ExecStart        = /usr/lib/systemd/systemd-socket-proxyd -- localhost:8080
