[Unit]
Description    = Ollama

[Service]
Restart        = on-failure
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes

StateDirectory = local/ollama

Environment=   = OLLAMA_HOST=[::]:11434
Environment=   = OLLAMA_MODELS=%S/local/ollama
ExecStart      = %j serve
