[Unit]
Description  = Mount -- freenas.lan:/%f

[Mount]
Type         = nfs4
ForceUnmount = yes
TimeoutSec   = 2seconds
Options      = soft,noatime

Where        = /%f
What         = freenas.lan:/%J
