[Unit]
Description  = Mount -- freenas.local/%J:%f

[Mount]
Type         = nfs4
ForceUnmount = yes
TimeoutSec   = 2seconds
Options      = soft,noatime

Options      = noatime
Where        = %f
What         = freenas.enp2s0.pfsense.home.arpa:/%J
