[Unit]
Description   = Podman -- %J

[Container]
Image         = ghcr.io/joeferner/redis-commander:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8081
Label         = "traefik.http.routers.%J.rule=HostRegexp(`redis.{.+}.{.+$$}`)"

Environment   = REDIS_HOSTS=lo:redis:6379

Network       = 3-pm-redis.network
Network       = 3-pm-traefik.network

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
