[Unit]
Description   = Podman -- %J

After         = network-online.target

BindsTo       = podman.socket
After         = podman.socket

[Container]
Image         = docker.io/library/traefik:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+}.{.+$$}`)"

Network       = %p.network

# TODO: ipv6 https://github.com/containers/podman/issues/14491
PublishPort   = 80:80
PublishPort   = 8181:8080
PublishPort   = 443:443

Volume        = %t/podman/podman.sock:/var/run/docker.sock:ro
Volume        = /usr/local/opt/%J:%E/traefik:ro
Volume        = %S/local/docker/%J:/acme

[Service]
Restart       = on-failure
ExecStartPre  = mkdir -v -p -- %S/local/docker/%J

[Install]
WantedBy      = default.target
