[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:latest
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

HealthCmd        = pg_isready --username kemal --dbname postgres

Environment      = POSTGRES_USER=kemal
Environment      = POSTGRES_PASSWORD=kemal
Environment      = POSTGRES_DB=postgres

Network          = %p.network

[Service]
Restart          = on-failure
TimeoutStartSec  = 900
ExecStartPost    = podman wait --condition healthy -- %J-%I
