[Unit]
Description   = Podman -- %J@%I

BindsTo       = %p@redis.service
After         = %p@redis.service

[Container]
Image         = docker.io/zedeus/nitter:latest
ContainerName = %J-%I
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`twitter.{.+}.{.+$$}`)"

Network       = 3-pm-traefik.network

Volume        = /usr/local/opt/%J/nitter.toml:/src/nitter.conf:ro

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
