[Unit]
Description   = Podman -- %J

[Container]
Image         = docker.io/library/httpd:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=80
Label         = "traefik.http.routers.%J.rule=HostRegexp(`{^.+}.{.+$$}`) && PathPrefix(`/`)"

Network       = 3-pm-traefik.network

Volume        = /usr/local/opt/%J:/usr/local/apache2/htdocs:ro

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
