[Unit]
Description   = Podman -- %J

[Container]
Image         = docker.io/library/mongo-express:latest
ContainerName = %J
AutoUpdate    = registry

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8081
Label         = "traefik.http.routers.%J.rule=HostRegexp(`mongo.{.+}.{.+$$}`)"

Network       = 3-pm-mongo.network
Network       = 3-pm-ingress.network

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
