[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:16
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

User             = 1000
Group            = 1000

HealthCmd        = pg_isready --username %J --dbname %J

Environment      = POSTGRES_USER=%J
Environment      = POSTGRES_PASSWORD=%J
Environment      = POSTGRES_DB=%J

Network          = %p.network

Volume           = %S/local/%J:%S/postgresql/data

[Service]
Restart          = on-failure
ExecStartPost    = podman wait --condition healthy -- %J-%I
