[Unit]
Description   = Podman -- %J

[Container]
Image         = docker.io/library/mongo:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Network       = %p.network
PublishPort   = 127.0.0.53:2717:27017

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
