[Unit]
Description   = Podman -- %J

[Container]
Image         = docker.io/libreddit/libreddit:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`reddit.{.+}.{.+$$}`)"

Environment   = LIBREDDIT_DEFAULT_AUTOPLAY_VIDEOS=on
Environment   = LIBREDDIT_DEFAULT_HIDE_HLS_NOTIFICATION=on
Environment   = LIBREDDIT_DEFAULT_SHOW_NSFW=on
Environment   = LIBREDDIT_DEFAULT_USE_HLS=on

Network       = 3-pm-traefik.network

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
