[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:latest
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes


Environment      = POSTGRES_USER=kemal
Environment      = POSTGRES_PASSWORD=kemal
Environment      = POSTGRES_DB=postgres

Network          = 3-pm-traefik.network

[Service]
Restart          = on-failure
ExecStartPost    = /usr/local/libexec/retry.sh 0.1 podman exec -- %J-%I pg_isready --username kemal --dbname postgres
