[Unit]
Description     = Podman -- %J

BindsTo         = %p@redis.service
After           = %p@redis.service

[Container]
Image           = ghcr.io/joeferner/redis-commander:latest
ContainerName   = %J-%I
AutoUpdate      = registry
RunInit         = yes

HealthCmd       = wget --quiet --output-document /dev/null --timeout 1 -- 127.0.0.1:8081

Label           = traefik.enable=true
Label           = traefik.http.services.%J.loadbalancer.server.port=8081
Label           = "traefik.http.routers.%J.rule=HostRegexp(`redis.{.+}.{.+$$}`)"

Environment     = REDIS_HOSTS=lo:%J-redis:6379

Network         = %p.network
Network         = 3-pm-traefik.network

[Service]
Restart         = on-failure
TimeoutStartSec = 900
ExecStartPost   = podman wait --condition healthy -- %J-%I

[Install]
WantedBy        = 0-podman.target
