[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

After            = network-online.target

BindsTo          = %p@pg.service
After            = %p@pg.service

[Container]
Image            = docker.io/1337kavin/piped:latest
ContainerName    = %J-%I
AutoUpdate       = registry

Label            = traefik.enable=true
Label            = traefik.http.services.%J.loadbalancer.server.port=8080
Label            = "traefik.http.routers.%J.rule=HostRegexp(`%J.{.+}.{.+$$}`)"

Network          = 3-pm-traefik.network

Volume           = /usr/local/opt/%J/piped.properties:/app/config.properties:ro

[Service]
Restart          = on-failure

[Install]
WantedBy         = default.target
