[[Unit]]
Description   = Podman -- %J

[[Container]]
Image         = docker.io/v2fly/v2fly-core:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

PodmanArgs    = --cpu-shares=256
Exec          = run -config %E/v2ray/server.json

Network       = host

Volume        = /usr/local/opt/%J:%E/v2ray:ro

[[Service]]
Restart       = on-failure

[[Install]]
WantedBy      = 0-podman.target
