[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/redis:latest
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

HealthCmd        = redis-cli incr ping

Network          = %p.network

[Service]
Restart          = on-failure
TimeoutStartSec  = 900
ExecStartPost    = podman wait --condition healthy -- %J-%I
