[Unit]
Description   = Podman -- %J

[Container]
Image         = ghcr.io/thelounge/thelounge:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=9000
Label         = "traefik.http.routers.%J.rule=HostRegexp(`irc.{.+}.{.+$$}`)"

Network       = 3-pm-ingress.network

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
