[Unit]
Description   = Podman -- %J

[Container]
Image         = ghcr.io/privatebin/nginx-fpm-alpine:latest
ContainerName = %J
AutoUpdate    = registry
RunInit       = yes

Network       = 3-pm-traefik.network

Label         = traefik.enable=true
Label         = traefik.http.services.%J.loadbalancer.server.port=8080
Label         = "traefik.http.routers.%J.rule=HostRegexp(`pastebin.{.+}.{.+$$}`)"

Volume        = /usr/local/opt/%J/conf.php:/srv/cfg/conf.php:ro

[Service]
Restart       = on-failure

[Install]
WantedBy      = 0-podman.target
