[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/postgres:latest
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

HealthCmd        = pg_isready --username %J --dbname %J

Environment      = POSTGRES_USER=%J
Environment      = POSTGRES_PASSWORD=%J
Environment      = POSTGRES_DB=%J

Network          = %p.network

[Service]
Restart          = on-failure
ExecStartPost    = podman wait --condition healthy -- %J-%I
