[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/redis:latest
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

Network          = 3-pm-traefik.network

[Service]
Restart          = on-failure
ExecStartPost    = /usr/local/libexec/retry.sh 0.1 podman exec -- %J-%I redis-cli incr ping
