[Unit]
Description     = Podman -- %J

BindsTo         = %p@mongo.service
After           = %p@mongo.service

[Container]
Image           = docker.io/library/mongo-express:latest
ContainerName   = %J-%I
AutoUpdate      = registry

HealthCmd       = wget --quiet --output-document /dev/null --header 'Authorization: Basic YWRtaW46cGFzcw==' --timeout 1 -- 127.0.0.1:8081

Label           = traefik.enable=true
Label           = traefik.http.services.%J.loadbalancer.server.port=8081
Label           = "traefik.http.routers.%J.rule=HostRegexp(`mongo.{.+}.{.+$$}`)"
Label           = traefik.http.routers.%J.middlewares=%J
Label           = 'traefik.http.middlewares.%J.headers.customRequestHeaders.Authorization=Basic YWRtaW46cGFzcw=='

Environment     = ME_CONFIG_MONGODB_URL=mongodb://%J:%J@%J-mongo:27017/

Network         = %p.network
Network         = 3-pm-traefik.network

[Service]
Restart         = on-failure
TimeoutStartSec = 900
ExecStartPost   = podman wait --condition healthy -- %J-%I

[Install]
WantedBy        = 0-podman.target
