[Unit]
Description      = Podman -- %J
StopWhenUnneeded = yes

[Container]
Image            = docker.io/library/elasticsearch:8.11.1
ContainerName    = %J-%I
AutoUpdate       = registry
PodmanArgs       = --memory=256m

Environment      = discovery.type=single-node
Environment      = ES_MAX_MEM=256m

PublishPort      = 127.0.0.53:9280:9200

[Service]
Restart          = on-failure
TimeoutStartSec  = 900
