[Unit]
Description    = Nginx Auth Proxy

BindsTo        = nginx.service
After          = nginx.service

BindsTo        = 0-wg-private-key.service
After          = 0-wg-private-key.service

[Service]
Restart        = on-failure
ProtectSystem  = strict
ReadWritePaths = %t/local/nginx

LoadCredential = SECRET:%S/local/wireguard/self.key

Environment    = LISTENING_SOCKET=%t/local/nginx/auth-proxy.sock
Environment    = HTPASSWD_SOCKET=%t/local/nginx/htpasswd.sock
Environment    = COOKIE_NAME=__nauth
Environment    = COOKIE_TTL=1209600
Environment    = AUTHN_PATH=/-_-auth-_-/-_-
Environment    = HMAC_SECRET=%d/SECRET
Environment    = ALLOW_LIST=

ExecStart      = /usr/local/opt/nginx/libexec/htpasswd.py --listening-socket ${LISTENING_SOCKET} --htpasswd-socket ${HTPASSWD_SOCKET} --cookie-name ${COOKIE_NAME} --cookie-ttl ${COOKIE_TTL} --authn-path ${AUTHN_PATH} --hmac-secret ${HMAC_SECRET} --allow-list $ALLOW_LIST
