server {
  server_name chat.* pocket.* pdf.* redis.* pgadmin.* sql.* rss.* traefik.*;
  listen      unix:/run/local/nginx/gateway-https.sock;
  set         $x_nuc nuc.enp1s0.opnsense.home.arpa;

  location / {
    proxy_pass_header Content-Security-Policy;
    proxy_pass        http://$x_nuc:8088;
  }
}