server {
  server_name otlp.*;
  listen      unix:/run/local/nginx/gateway-https.sock;
  set         $x_esxi esxi.enp1s0.opnsense.home.arpa;

  location / {
    auth_basic           "-";
    auth_basic_user_file /var/lib/local/nginx/otlp.htpasswd;
    proxy_pass           http://$x_esxi:4318;
  }
}