server {
  server_name cat.*;
  listen      unix:/run/local/nginx/gateway-https.sock;
  set         $x_k8s esxi.enp1s0.opnsense.home.arpa;

  location / {
    proxy_pass http://$x_k8s:9999;
  }
}

server {
  listen unix:/run/local/nginx/ollama.sock;
  set    $x_k8s esxi.enp1s0.opnsense.home.arpa;

  location / {
    auth_basic           "-";
    auth_basic_user_file /var/lib/local/htpasswd/ollama;
    proxy_pass           http://$x_k8s:8888;
  }
}

server {
  server_name llama.*;
  listen      unix:/run/local/nginx/gateway-https.sock;

  location / {
    proxy_set_header Authorization $modified_auth;
    include          /usr/local/opt/nginx/conf/http.d/proxy_params.nginx;
    proxy_pass       http://unix:/run/local/nginx/ollama.sock:/;
  }
}