[Unit]
Description       = Podman Containers Target
RequiresMountsFor = %S/local/docker

After             = network-online.target

[Install]
WantedBy          = default.target
