[Unit]
Description   = Socket 6to4 -- %i:localhost:%i

BindsTo       = %N.socket
After         = %N.socket

[Service]
Restart       = on-failure
ProtectSystem = strict
ProtectHome   = yes

ExecStart     = /usr/lib/systemd/systemd-socket-proxyd -- 127.0.0.1:%I
