[Unit]
Description              = Github HTTP Service -- %I

[Service]
Restart                  = on-failure
ProtectSystem            = strict
ProtectHome              = yes
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

User                     = 1000
Group                    = www-data

Environment              = SOCK=%t/local/gh-mirror/%i.sock
ExecStart                = rclone serve http --config=/dev/null --dir-cache-time=0 --poll-interval=0 --addr=${SOCK} --baseurl=/gh-mirror/%i -- %t/local/%J/mnt
