include /usr/local/opt/nginx/conf/optimistic_host.nginx;

server {
  server_name "";
  include     /usr/local/opt/nginx/conf/listen.nginx;

  location / {
    alias           /usr/local/opt/nginx/index/;
    include         /usr/local/opt/nginx/conf/auth2.nginx;
    sub_filter_once off;
    sub_filter      "@SCHEME" $scheme;
    sub_filter      "@HOST" $optimistic_host;
  }
}