# m5_for([MACH], [
server {
  server_name MACH.*;
  include     /usr/local/opt/nginx/conf/listen.nginx;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    # TODO: home.arpa
    set        $upstream MACH:8080;
    proxy_pass http://$upstream;
  }
}

# ], m5_assert([ENV_MACHINES]))
include /dev/null;
