server {
  server_name "";
  listen      0.0.0.0:80 default_server http2;
  listen      [::]:80 default_server http2;
  include     /usr/local/opt/nginx/conf/auth.nginx;

  location / {
    proxy_pass http://127.0.0.53:8888/;
  }
}
