server {
  server_name traefik.* speedtest.* miniflux.* metube.*;
  include     /usr/local/opt/nginx/conf/listen.nginx;

  location / {
    include    /usr/local/opt/nginx/conf/auth2.nginx;
    proxy_pass http://127.0.0.53:8888/;
  }
}