server {
  server_name transmission.*;
  include     /usr/local/opt/nginx/conf/listen.nginx;

  location / {
    proxy_set_header Host localhost;
    proxy_pass       http://unix:/run/local/netns-proxy/transmission.sock:/;
  }
}
