server {
  server_name webdav.*;
  include     /usr/local/opt/nginx/conf/listen.nginx;

  location / {
    error_page 420 @e420;
    proxy_pass http://127.0.0.53:8090;
  }

  location @e420 {
    internal ;
    return   420;
  }
}
