[[Unit]]
Description              = Webdav Server

[[Service]]
Restart                  = on-failure
ProtectSystem            = strict
ProtectHome              = yes
ReadWritePaths           = %t/local/%J
RuntimeDirectory         = local/%J
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

User                     = 1000
Group                    = www-data

TemporaryFileSystem      = /media:ro

# m5_for([SHARE], [
BindPaths                = /media/SHARE:/media/SHARE
# ], m5_assert([ENV_WEB_EXPORTS]))

Environment              = SOCK=%t/local/%J/webdav.sock
ExecStart                = rclone serve webdav --config=/dev/null --dir-cache-time=0 --vfs-cache-mode=off --addr=${SOCK} --baseurl=/share -- /media
ExecStartPost            = /usr/local/libexec/retry.sh 0.1 chmod -- g+w ${SOCK}
