[Unit]
Description        = Run ElasticSearch Crawler when stopped

[Timer]
Persistent         = yes
OnCalendar         = hourly
RandomizedDelaySec = 9minutes
