[Unit]
Description         = ElasticSearch Crawler

BindsTo             = elasticsearch.service
After               = elasticsearch.service

ConditionPathExists = /usr/local/opt/crawler/libexec/main.sh

[Service]
Type                = oneshot
Restart             = on-failure

ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
ReadWritePaths      = %T %V

ExecStart           = /usr/local/opt/crawler/libexec/main.sh %f
