[[Unit]]
Description       = Webdav Server - %J:%I

[[Service]]
Type              = forking
PIDFile           = local/%J/%I/nginx.pid
Restart           = on-failure
ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes
ReadWritePaths    = %t/local/%J/%I
RuntimeDirectory  = local/%J/%I

Environment       = RW=%I

ExecStartPre      = /usr/local/libexec/envsubst2.sh /usr/local/opt/webdav/share.nginx ${RUNTIME_DIRECTORY}/main.nginx
ExecStartPre      = mkdir -p -- ${RUNTIME_DIRECTORY}/root
ExecStart         = nginx -c ${RUNTIME_DIRECTORY}/main.nginx

# m5_for([SHARE], [
BindReadOnlyPaths = /media/SHARE:%t/local/%J/%I/root/SHARE
# ], m5_assert([ENV_WEB_RO_EXPORTS]))
