[[Unit]]
Description              = Webdav Server - %J

[[Service]]
Restart                  = on-failure
ProtectSystem            = strict
ProtectHome              = yes
ReadWritePaths           = %t/local/webdav
RuntimeDirectory         = local/webdav
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

User                     = 1000
Group                    = www-data

TemporaryFileSystem      = %E:ro %S:ro /media:ro

# m5_for([SHARE], [
BindReadOnlyPaths        = /media/SHARE:/media/SHARE
# ], m5_assert([ENV_WEB_RO_EXPORTS]))

Environment              = SOCK=%t/local/webdav/%j.sock
Environment              = READONLY=--read-only

ExecStart                = rclone serve webdav --config=/dev/null --dir-cache-time=0 --poll-interval=0 --vfs-cache-mode=off --addr=${SOCK} --baseurl=/webdav/%j $READONLY -- /media
ExecStartPost            = /usr/local/libexec/retry.sh 0.1 chmod -- g+w ${SOCK}
