[[Unit]]
Description              = Webdav Server - %J

[[Service]]
Type                     = notify
Restart                  = on-failure
ProtectSystem            = strict
ProtectHome              = yes
ReadWritePaths           = %t/local/webdav
RuntimeDirectory         = local/webdav
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

User                     = 1000
Group                    = www-data

TemporaryFileSystem      = %E:ro %S:ro /media:ro

# m5_for([SHARE], [
BindReadOnlyPaths        = /media/SHARE:/media/SHARE
# ], m5_assert([ENV_WEB_RO_EXPORTS]))

Environment              = SOCK=%t/local/webdav/%j.sock
Environment              = READONLY=--read-only

ExecStart                = nginx -g 'daemon off;' -c /opt
ExecStartPost            = /usr/local/libexec/retry.sh 0.1 chmod -- g+w ${SOCK}
