[Unit]
Description      = FS Veto Service -- %f

[Service]
Type             = oneshot
ProtectSystem    = strict
ProtectHome      = yes
ReadWritePaths   = %f

WorkingDirectory = %f
# TODO: prune with --and .DS_Store --and Thumbs.db flag @ next fd
ExecStart        = fdfind --hidden --no-ignore --type file --batch-size 420 --fixed-strings .DS_Store --exec-batch rm -v -fr --
