[Unit]
Description              = Share -- %I
RequiresMountsFor        = %I

[Service]
Restart                  = on-failure
ProtectSystem            = strict
ReadWritePaths           = %t/local %T %V
RuntimeDirectory         = local/http-share
RuntimeDirectoryPreserve = yes
PrivateTmp               = yes

ExecStart                = rclone serve http --read-only --addr=unix://%t/local/http-share/%i.sock -- %I
