[Unit]
Description      = netns -- %E/netns/%I
StopWhenUnneeded = yes
CollectMode      = inactive

BindsTo          = %p-ns@%i.service
After            = %p-ns@%i.service

BindsTo          = %p-dns-tcp@%i.service
After            = %p-dns-tcp@%i.service

BindsTo          = %p-dns-udp@%i.service
After            = %p-dns-udp@%i.service

[Service]
Type             = oneshot
RemainAfterExit  = yes
ExecStart        = true
