---
services:
  speedtest:
    image: ghcr.io/librespeed/speedtest:latest
    labels:
      kompose.service.expose: speedtest.${DOMAIN}
    ports:
      - 8080
    volumes:
      - data:/database

volumes:
  data:
