[Unit]
Description    = Microsocks

[Service]
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
ReadWritePaths = %T %V

# TODO: ubuntu 26 use `-q` for no logging
ExecStart      = microsocks -i 127.0.0.53 -p 40000
