[Unit]
Description     = Configure networkd -- %t/systemd/network/0-%i.network

BindsTo         = systemd-networkd.service
After           = systemd-networkd.service

[Service]
Type            = oneshot
RemainAfterExit = yes

ProtectSystem   = strict
PrivateTmp      = yes
ReadWritePaths  = %t/systemd %T

EnvironmentFile = /usr/local/etc/default/%I.net.env

ExecStartPre    = mkdir --parents -- %t/systemd/network
ExecStart       = envsubst2.sh /usr/local/opt/network/%i@.network %t/systemd/network/0-%i.network
ExecStart       = networkctl reload
ExecStart       = networkctl reconfigure -- $INTERFACES
