[Unit]
Description       = Reload nftables on dhcp lease changes
StopWhenUnneeded  = yes

PartOf            = nftables.service
Requisite         = nftables.service
After             = nftables.service

[Timer]
OnActiveSec       = 0
OnUnitInactiveSec = 6seconds
