[Unit]
Description              = Reload nftables on dhcp lease changes
StopWhenUnneeded         = yes

ConditionPathExists      = /usr/local/opt/nftables/libexec/port-fwd.sh

PartOf                   = nftables.service
Requisite                = nftables.service
After                    = nftables.service

[Service]
Type                     = oneshot
LogLevelMax              = warning
SyslogLevel              = warning
ProtectSystem            = strict
ProtectHome              = yes
ReadWritePaths           = %t/local/port-fwd %T
PrivateTmp               = yes

RuntimeDirectory         = local/port-fwd
RuntimeDirectoryPreserve = yes
EnvironmentFile          = -/usr/local/etc/default/port-fwd.env
ExecStart                = /usr/local/opt/nftables/libexec/port-fwd.sh %t/local/port-fwd
