[Unit]
Description      = Port forward
StopWhenUnneeded = yes

BindsTo          = nftables.service
After            = nftables.service

[Service]
Restart          = on-failure

ProtectSystem    = strict
PrivateTmp       = yes
ReadWritePaths   = %T

EnvironmentFile  = -/usr/local/etc/default/port-fwd.env
ExecStart        = /usr/local/opt/nftables/libexec/port-fwd.sh
