[[Unit]]
Description     = Router monitor

# m5_for([LAN], [
Wants           = 1-lan@LAN.service
After           = 1-lan@LAN.service
# ], m5_assert([ENV_LAN_IFS]))

[[Service]]
Restart         = on-failure
RemainAfterExit = yes
DynamicUser     = yes
ExecStart       = true

[[Install]]
WantedBy        = default.target
