[Unit]
Description     = Router monitor

Upholds         = chrony.service
After           = chrony.service

Upholds         = squid.service
After           = squid.service

Upholds         = 0-tc.service
After           = 0-tc.service

Upholds         = 0-wg.service
After           = 0-wg.service

Upholds         = 0-fwd.service
After           = 0-fwd.service

# <% lan_ifs.each do %>
Upholds         = 0-lan@<%= _1 %>.service
After           = 0-lan@<%= _1 %>.service
# <% end %>

[Service]
Restart         = on-failure
RemainAfterExit = yes
DynamicUser     = yes
ExecStart       = sleep -- infinity

[Install]
WantedBy        = default.target
