[[Unit]]
Description     = Configure TC - %J

[[Service]]
Type            = oneshot
RemainAfterExit = yes
ProtectSystem   = strict

Environment     = IFB=%j-rx
Environment     = QDISC=ffff:
Environment     = WAN_IF=m5_assert([ENV_WAN_IF])

# ExecStartPre    = mkdir --parents -- %t/systemd/network
# ExecStart       = envsubst2.sh /usr/local/opt/network/%i@.network %t/systemd/network/0-%i.network
# ExecStart       = networkctl reload

# TX
ExecStart       = tc qdisc  replace dev ${WAN_IF} root cake ingress nat dual-dsthost diffserv4  wash rtt 10ms ethernet
# RX
ExecStart       = tc qdisc  replace dev ${IFB}    root cake egress  nat dual-srchost besteffort wash rtt 5ms  ethernet
ExecStart       = tc qdisc  replace dev ${WAN_IF} handle ${QDISC} ingress
ExecStart       = tc filter replace dev ${WAN_IF} parent ${QDISC} matchall action mirred egress redirect dev ${IFB}
