[Unit]
Description      = Tor Template -- %t/local/tor/%I/torrc
StopWhenUnneeded = yes

BindsTo          = 1-ip-alloc@%j.service
After            = 1-ip-alloc@%j.service

[Service]
Type             = oneshot
RemainAfterExit  = yes
Restart          = on-failure
ProtectSystem    = strict
PrivateTmp       = yes
RuntimeDirectory = local/tor/%I
ReadWritePaths   = %t/local/tor/%I %t/systemd/network %T

EnvironmentFile  = %t/local/ip/%J.env
ExecStart        = /usr/local/libexec/envsubst2.sh /usr/local/opt/tor/torrc %t/local/tor/%I/torrc
ExecStart        = /usr/local/libexec/envsubst2.sh /usr/local/opt/tor/70-vtor.network %t/systemd/network/70-vtor.network
ExecStart        = networkctl reload
ExecStopPost     = rm -v -fr -- %t/systemd/network/70-vtor.network
ExecStopPost     = -networkctl delete -- vtor
