[Unit]
Description      = Tor Template -- %t/local/tor/%I/torrc

BindsTo          = 1-ip-alloc@%j.service
After            = 1-ip-alloc@%j.service

PartOf           = tor@%i.service

[Service]
Type             = oneshot
RemainAfterExit  = yes

ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
RuntimeDirectory = local/tor/%I
ReadWritePaths   = %t/local/tor/%I %t/systemd/network %T

User             = systemd-network

Environment      = IFACE=vtor
Environment      = NETWORK=%t/systemd/network/70-vtor.network
EnvironmentFile  = %t/local/ip/%J.env

ExecStartPre     = /usr/local/libexec/envsubst2.sh /usr/local/opt/tor/torrc %t/local/tor/%I/torrc
ExecStartPre     = /usr/local/libexec/envsubst2.sh /usr/local/opt/tor/70-vtor.network ${NETWORK}
ExecStart        = networkctl reload
ExecReload       = networkctl reconfigure -- ${IFACE}
ExecStop         = -networkctl delete -- ${IFACE}
ExecStopPost     = rm -v -fr -- ${NETWORK}
