[Unit]
Description     = Configure TC - TX: ${WAN_IF} - RX: %I-rx

After           = sys-subsystem-net-devices-%i-rx.device

[Service]
Type            = oneshot
RemainAfterExit = yes

ProtectSystem   = strict
ProtectHome     = yes

EnvironmentFile = /usr/local/etc/default/%I.tc.env

Environment     = WAN_IF=
Environment     = IFB=%I-rx
Environment     = QDISC=ffff:

ExecStartPre    = /usr/lib/systemd/systemd-networkd-wait-online --interface ${IFB}
ExecStart       = tc filter replace dev ${WAN_IF} parent ${QDISC} matchall action mirred egress redirect dev ${IFB}
