[Unit]
Description         = Synchronize WG DDNS -- %I
ConditionPathExists = /usr/local/lib/systemd/network/%I.netdev

After               = network-online.target

PartOf              = systemd-networkd.service
Requisite           = systemd-networkd.service
After               = systemd-networkd.service

[Service]
Type                = oneshot

ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
ReadWritePaths      = %t %T


ExecStart           = /usr/local/opt/network/libexec/wg-ddhs.sh %I /usr/local/lib/systemd/network/%I.netdev
