#
server {
  listen [[::]]:5000 ipv6only=off;

  location / {
    try_files /dev/null =404;
  }

  # m5_for([REGISTRY], [
  location /REGISTRY {
    return 307 /REGISTRY/;
  }

  location /REGISTRY/ {
    proxy_pass http://unix:/run/local/oci-registry/proxy/REGISTRY.sock:;
  }
  # ], m5_or([ENV_REGISTRIES], []))
}