---
services:
  mcp:
    image: docker.io/isokoliuk/mcp-searxng:latest
    labels:
      kompose.service.expose: mcp-searx.${DOMAIN}
    environment:
      SEARXNG_URL: http:/searxng.kompsed-searx.svc.cluster.local:8080
      MCP_HTTP_PORT: 8080
    ports:
      - 8080

  terraform:
    image: docker.io/hashicorp/terraform-mcp-server:latest
    labels:
      kompose.service.group: &terraform terraform-proxy
    environment:
      MCP_CORS_MODE: disabled
      TRANSPORT_MODE: streamable-http
    ports:
      - 8080

  terraform-proxy:
    image: docker.io/library/nginx:latest
    labels:
      kompose.service.expose: mcp-terraform.${DOMAIN}
      kompose.service.group: *terraform
    ports:
      - 1080
    volumes:
      - ./terraform.nginx:/etc/nginx/nginx.conf:ro

  dockerhub:
    image: docker.io/mcp/dockerhub:latest
    labels:
      kompose.service.expose: mcp-dockerhub.${DOMAIN}
    command:
      - --transport=http
    ports:
      - 3000

  context7:
    image: docker.io/mcp/context7:latest
    labels:
      kompose.service.expose: mcp-context7.${DOMAIN}
    ports:
      - 8080

  python:
    image: docker.io/denoland/deno:latest
    labels:
      kompose.service.expose: mcp-python.${DOMAIN}
    command:
      - run
      - --allow-net
      - --allow-read=node_modules
      - --allow-write=node_modules
      - --node-modules-dir=auto
      - jsr:@pydantic/mcp-run-python
      - streamable_http
    ports:
      - 3001

  r:
    image: ghcr.io/finite-sample/rmcp/rmcp-ci:latest
    labels:
      kompose.service.expose: mcp-r.${DOMAIN}
    entrypoint:
      - rmcp
    command:
      - serve-http
      - --host
      - "::"
    ports:
      - 8000

  # playwright:
  #   image: mcr.microsoft.com/playwright/mcp:latest
  #   labels:
  #     kompose.service.expose: mcp-playwright.${DOMAIN}
  #   command:
  #     - cli.js
  #     - --headless
  #     - --browser
  #     - chromium
  #     - --no-sandbox
  #     - --port=8080
  #   ports:
  #     - 8080

  # TODO: https://github.com/teabranch/open-responses-server
