[Unit]
Description   = ZFS scrub -- %i
BindsTo       = zfs-import-cache.service
After         = zfs-import-cache.service

[Service]
Type          = oneshot
Restart       = on-failure
ProtectSystem = strict

ExecStart     = zpool scrub -w -- %i
ExecStop      = -zpool scrub -p -- %i
