[Unit]
Description               = SSH Forward -- %I
ConditionFileIsExecutable = /usr/local/opt/ssh-fwd/libexec/connect.sh

After                     = network-online.target
Wants                     = network-online.target

[Service]
Restart                   = on-failure
RestartSec                = 9

ProtectSystem             = strict
ProtectHome               = yes
PrivateTmp                = yes

User                      = www-data
Group                     = www-data

StateDirectory            = local/ssh-fwd/%I

IPAccounting              = yes

EnvironmentFile           = /usr/local/etc/default/%I.sshfwd.env

Environment               = ENV_SSHFWD_TARGET=localhost
Environment               = ENV_SSHFWD_PORT=22
Environment               = ENV_SSHFWD_IDENTITY=%I
Environment               = ENV_SSHFWD_ARGV=

ExecStartPre              = +chown -- ${USER}:${USER} %S/local/ssh-fwd/${ENV_SSHFWD_IDENTITY}
ExecStartPre              = +chmod -- 0400 %S/local/ssh-fwd/${ENV_SSHFWD_IDENTITY}
ExecStart                 = /usr/local/opt/ssh-fwd/libexec/connect.sh ${ENV_SSHFWD_TARGET} ${ENV_SSHFWD_PORT} %S/local/ssh-fwd/${ENV_SSHFWD_IDENTITY} $ENV_SSHFWD_ARGV
