[Unit]
Description               = SSH Forward -- %I
ConditionFileIsExecutable = /usr/local/opt/ssh-fwd/libexec/connect.sh

After                     = network-online.target
Wants                     = network-online.target

[Service]
Restart                   = on-failure
ProtectSystem             = strict
ProtectHome               = yes
PrivateTmp                = yes

User                      = www-data
Group                     = www-data

RuntimeDirectory          = local/ssh-fwd/%I
StateDirectory            = local/ssh-fwd/%I

IPAccounting              = yes

EnvironmentFile           = /usr/local/etc/default/%I.sshfwd.env

Environment               = TARGET=localhost
Environment               = PORT=22
Environment               = IDENTITY=%I
Environment               = ARGV=

ExecStartPre              = +chown -- ${USER}:${GROUP} %S/local/ssh-fwd/${IDENTITY}
ExecStartPre              = +chmod -- 0400 %S/local/ssh-fwd/${IDENTITY}
ExecStart                 = /usr/local/opt/ssh-fwd/libexec/connect.sh ${TARGET} ${PORT} %S/local/ssh-fwd/${IDENTITY} $ARGV
