server {
  listen    [[::]]:25 ipv6only=off;
  # m4_define([SMTP_CONF], [
  auth_http http://unix:/run/local/nginx/cgi.sock:/sieve.sh/;
  protocol  smtp;
  xclient   off;
  smtp_auth none;
  # ])
  SMTP_CONF
}

server {
  listen    [[::]]:465 ipv6only=off ssl;
  SMTP_CONF
}

server {
  listen    [[::]]:587 ipv6only=off;
  starttls  only;
  SMTP_CONF
}

server {
  listen    127.0.0.53:1443 ipv6only=off;
  # m4_define([IMAP_CONF], [
  auth_http http://unix:/run/local/nginx/cgi.sock:/sieve.sh/;
  protocol  imap;
  # ])
  IMAP_CONF
}

server {
  listen    [[::]]:993 ipv6only=off ssl;
  IMAP_CONF
}