server {
  listen    [[::]]:25 ipv6only=off;
  # m4_define([SMTP_CONF], [
  auth_http localhost:8080/mail.sh/;
  protocol  smtp;
  xclient   off;
  smtp_auth none;
  # ])
  SMTP_CONF
}

server {
  listen    [[::]]:465 ipv6only=off ssl;
  SMTP_CONF
}

server {
  listen    [[::]]:587 ipv6only=off;
  starttls  only;
  SMTP_CONF
}

server {
  listen    [[::]]:993 ipv6only=off ssl;
  auth_http localhost:8080/mail.sh/;
  protocol  imap;
}
