server {
  listen    [::]:465 ipv6only=off ssl;
  auth_http localhost:8080/smtp.sh/;
  protocol  smtp;
  xclient   off;
  smtp_auth none;
}

server {
  listen    [::]:995 ipv6only=off ssl;
  auth_http localhost:8080/pop3.sh/;
  protocol  pop3;
}
