user      root;
error_log stderr;

events {
}

http {
  server {
    listen [::]:8080 ipv6only=off reuseport;

    location / {
      proxy_pass         http://127.0.0.1:18789;
      proxy_http_version 1.1;
      proxy_set_header   Connection "upgrade";
      proxy_set_header   Upgrade $http_upgrade;
    }
  }
}
