:root {
  --margin: 3rem;
}
body {
  margin: 0;
  padding: 0;

  & header,
  & main {
    max-width: 100%;
    min-width: 100%;
  }

  & header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: var(--margin);
  }

  & ol {
    padding-left: 0;
    & li {
      list-style-type: none;
      margin-left: var(--margin);
      margin-right: var(--margin);

      & label {
        & > b:not(:empty),
        & > i:not(:empty) {
          margin-inline-end: 0.5rem;
        }
        & > span {
          word-wrap: break-word;
        }
      }

      & time {
        margin-inline-end: 1rem;
        font-family:
          ui-monospace,
          SFMono-Regular,
          SF Mono,
          Menlo,
          Consolas,
          Liberation Mono,
          monospace;
      }
    }
  }
}
