# IO limited nvme drives
# ACTION=="add|change", ENV{DEVTYPE}=="disk", SUBSYSTEM=="block", SUBSYSTEMS=="nvme", ATTR{queue/scheduler}="mq-deadline", ATTR{queue/nr_requests}="8"
