[Unit]
Description      = Podman -- %J@%I
StopWhenUnneeded = yes

After            = network-online.target

[Container]
Image            = docker.io/library/postgres:15
ContainerName    = %J-%I
AutoUpdate       = registry
RunInit          = yes

HealthCmd        = pg_isready --dbname pdb --username kemal

Environment      = POSTGRES_USER=kemal
Environment      = POSTGRES_PASSWORD=kemal
Environment      = POSTGRES_DB=pdb

Network          = 3-pm-traefik.network

[Service]
Restart          = on-failure
ExecStartPost    = podman wait --condition healthy -- %J-%I
