[Unit]
Description    = Certbot update

[Service]
Type           = oneshot
Restart        = on-failure
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
ReadWritePaths = %T %S/local %C/local

Environment    = CACHE=%S/local/certbot

ExecStartPre   = mkdir -v -p -- ${CACHE}
ExecStart      = /usr/local/opt/certbot/libexec/ensurepip.sh ${CACHE}
