[Unit]
Description       = Certbot renew -- %i

RequiresMountsFor = %S/local/%J

[Service]
Type              = oneshot
ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes
ReadWritePaths    = %t/local/nginx %T

User              = www-data
StateDirectory    = local/%J
CacheDirectory    = local/%J

Environment       = HOSTNAME=%H.home.arpa

ExecStartPre      = !chown www-data:www-data -- %t/local/nginx/acme
ExecStart         = /usr/local/opt/certbot/libexec/certonly.sh
