[Unit]
Description       = Certbot renew -- %i

RequiresMountsFor = %S/local/%J

[Service]
Type              = oneshot
ProtectSystem     = strict
ProtectHome       = yes
PrivateTmp        = yes
ReadWritePaths    = %t/local/nginx %T %S/local %C/local

User              = www-data
StateDirectory    = local/%J
CacheDirectory    = local/%J

Environment       = HOSTNAME=%H.home.arpa

ExecStart         = /usr/local/opt/certbot/libexec/certonly.sh
