[Unit]
Description    = Certbot update

[Service]
Type           = oneshot
Restart        = on-failure
ProtectSystem  = strict
ProtectHome    = yes
PrivateTmp     = yes
ReadWritePaths = %T %C/local

Environment    = CACHE=%C/local/pip

ExecStartPre   = mkdir -v -p -- ${CACHE}
ExecStart      = /usr/local/opt/certbot/libexec/ensurepip.sh ${CACHE}
