[Unit]
Description      = Nginx Auth Proxy
StopWhenUnneeded = yes

BindsTo          = nginx.service
After            = nginx.service

Requires         = 0-wg-private-key.service
After            = 0-wg-private-key.service

[Service]
Restart          = on-failure
ProtectSystem    = strict
ProtectHome      = yes
ReadWritePaths   = %t/local/nginx

LoadCredential   = HMAC_SECRET:%S/local/wireguard/self.key

Environment      = LISTENING_SOCKET=%t/local/nginx/auth-proxy.sock
Environment      = HTPASSWD_SOCKET=%t/local/nginx/htpasswd.sock
Environment      = COOKIE_NAME=_%J
Environment      = COOKIE_TTL=1209600
Environment      = AUTHN_PATH=/-_-
Environment      = ALLOW_LIST=%S/local/htpasswd
Environment      = PYTHONUNBUFFERED=1

ExecStart        = /usr/local/opt/nginx/libexec/htpasswd.py \
                   --listening-socket ${LISTENING_SOCKET} \
                   --htpasswd-socket ${HTPASSWD_SOCKET} \
                   --cookie-name ${COOKIE_NAME} \
                   --cookie-ttl ${COOKIE_TTL} \
                   --authn-path ${AUTHN_PATH} \
                   --hmac-secret ${CREDENTIALS_DIRECTORY}/HMAC_SECRET \
                   --allow-list ${ALLOW_LIST}

ExecStartPre     = rm -v -fr -- ${LISTENING_SOCKET}
ExecStopPost     = rm -v -fr -- ${LISTENING_SOCKET}
