[Unit]
Description         = Certbot renew -- %i
After               = 0-certbot-update.service

ConditionPathExists = %C/local/certbot/venv/bin/certbot

[Service]
Type                = oneshot
ProtectSystem       = strict
ProtectHome         = yes
PrivateTmp          = yes
ReadWritePaths      = %T %S/local %C/local

Environment         = DOMAIN=%I

ExecStart           = /usr/local/opt/certbot/libexec/certonly.sh %H ${DOMAIN}
