[Unit]
Description        = DDNS Timer - %I

After              = network-online.target

[Timer]
OnStartupSec       = 6seconds
OnUnitInactiveSec  = 10minutes
RandomizedDelaySec = 2minutes
