[Unit]
Description      = DDNS Service - %I
After            = network-online.target

[Service]
Type             = oneshot
Restart          = on-failure

ProtectSystem    = strict
ProtectHome      = yes
PrivateTmp       = yes
RuntimeDirectory = local/ddclient/%I
ReadWritePaths   = %t %T %V %C

CacheDirectory   = local/ddclient

Environment      = CONF=%t/local/ddclient/%I.conf
Environment      = CACHE=%C/local/ddclient

ExecStartPre     = cp --force -- /usr/local/opt/ddclient/%I.conf ${CONF}
ExecStartPre     = chmod -- 600 ${CONF}
ExecStart        = ddclient -foreground -daemon 0 -noquiet -cache ${CACHE}/%I.cache -file ${CONF}
