user      root;
error_log stderr;

events {
}

stream {
  proxy_half_close       on;
  proxy_socket_keepalive on;
  proxy_timeout          28d;

  server {
    listen     [::]:1080 ipv6only=off;
    proxy_pass unix:/run/haproxy/httpsocks-1080.sock;
  }
}