[Match]
Virtualization  = container
Name            = host0

[Network]
IPv6AcceptRA    = no

DNSDefaultRoute = yes
Domains         = ~${DOMAIN}
DNS             = ${IPV6_ADDR} ${IPV4_ADDR}

Address         = ${IPV4}
Address         = ${IPV6}

Gateway         = ${IPV6_ADDR}
Gateway         = ${IPV4_ADDR}
