[Match]
Virtualization      = container
Name                = mv-*

[Link]
RequiredForOnline   = no

[Network]
DHCP                = yes
IPv6AcceptRA        = yes
LinkLocalAddressing = yes
LLDP                = yes
EmitLLDP            = customer-bridge

MulticastDNS        = yes

[DHCPv4]
UseDNS              = no

[DHCPv6]
UseDNS              = no

[IPv6AcceptRA]
UseDNS              = no
# Token               = static:::${LO64}
