[Match]
Virtualization      = container
Name                = mv-*

[Link]
RequiredForOnline   = no

[Network]
DHCP                = yes
LinkLocalAddressing = yes
LLDP                = yes
EmitLLDP            = customer-bridge
IPv6AcceptRA        = yes
