[Match]
Virtualization      = container
Name                = mv-*

[Link]
RequiredForOnline   = no

[Network]
DHCP                = yes
LinkLocalAddressing = yes
LLDP                = yes
EmitLLDP            = customer-bridge

# TODO: systemd 250, move under `[[IPv6AcceptRA]]` as Token
IPv6Token           = static:::${LO64}
